[2015-09-25 10:19] marcoaccame opened #5 "Documentation of 2FOC new protocol"
to produce a document w/ the new protocol used in 2FOC as in redmine issue number 553 (https://redmine.icub.iit.local/issues/553).

[2015-09-25 12:28] valegagge opened #6 "check pwm output if joints is close to limit"
In openloop mode, if joint is on min or max limit joint, the given pwm is ignored so the joint doesn't move.

[2015-09-25 13:17] marcoaccame opened #7 "Implement the get-fw-version can message in MTB boards"
It is important to have this message, so that one can launch a discovery procedure to check presence of a list of MTB board before attempting using them.

[2015-09-25 13:20] marcoaccame opened #8 "Migrate FW projects for MAIS, STRAIN, MTB into MPLAB-X"
It is important to migrate to the new tool-chain as experience shows it it much more user-friendly.

[2015-09-25 13:23] marcoaccame opened #9 "Add documentation about CAN protocol in icub-firmware repository"
Collect CAN protocol documentation, possibly update old information, and copy in this repository

[2015-09-25 13:29] marcoaccame opened #10 "Clarify diagnostics messages"
Diagnostics messages sent by the EMS / MC4PLUS boards need to be easily understood.

There are several ways do do so:
- in file EoError.c in icub-firmware-shared repository, add a textual description which explains the meaning of the two par16 and par64 parameters.
- increase the level of details of some errors (e.g., the generic motor error), possibly splitting a generic situation into more detai

[2015-09-25 13:32] marcoaccame commented on #10
a further requirement is:
* add in repository a document which explains in details the errors so that anyone can easily understand what is happening.

[2015-09-25 14:14] marcoaccame opened #11 "The EMS should check presence of all CAN boards"
Up to version 2.7 the EMS at startup checks only the presence of CAn boards used for motion control (2FOC and MC4).

We should check presence of all the CAN boards.

[2015-09-25 14:25] marcoaccame commented on #11
Staring from EMS version 2.8 the application verifies the presence of all required CAN boards excepts for the MTBs which do not have the get-fw-version message.

See commit of ems ver 2.8 in here: robotology/icub-firmware-build@e85f904ecdf3a2e64034eda6f68ab194abe870b3.

See also issue #7 dedicated to implementation of get-fw-version CAN message in MTB boards.

[2015-09-28 14:25] marcoaccame opened #12 "On iCubGenova02 the canLoader does not work properly on a particular EMS board"
I have noticed that on the purple robot iCubGenova02, if I operate the canLoader through the EMS, the FW update of skin.hex fails on board EB11, CAN1 if I decide to do that in parallel to all CAN boards.

After the attempt to program them all in parallel what is found is that one board is not reachable and the others are in bootloader. After a power off/on all boards are in bootloader.

The situat

[2015-09-29 13:32] davege89 commented on #6
When the open loop control mode is active for a joint, the function which returns the PWM to be applied (before the motors decoupling)  simply uses the value provided using the yarpmotorgui, stored inside an internal variable.  However, a check based on the actual position (always updated using the reference encoder) of the joint is done: if the current pos is out or exactly on one of the two boun

[2015-09-29 14:28] davege89 opened #13 "If param3 for calibration type 3 (encoder offset) is not correctly tuned, the joint could sharply move after calibration procedure"
I encountered this problem working with @valegagge on the calibration of some joints controlled using AEA absolute encoders, for the HeadV3.

During debug and test phase, it often happens to use fake or meaningless parameters for calibrations.
I'll try to describe the situation, even if my assumptions may be partially wrong:
1. When the calibration command is received for the board it stores the p

[2015-09-30 08:51] davege89 commented on #13
As a partial completion of what I already explained, I tried to reproduce on my setup the situation:
- joint mechanical limits: -50, 50
- calibration 3 -> param3: 65535 (360 deg in iCub Degrees)

The offset can put the current detected position out of the limits.

When calibration is over and the joint control mode is set to position, the error is computed as:
[code]
with pos_ref = reference point

[2015-10-02 15:58] pattacini opened #14 "Velocity control of arm joints #4-14 does not work"
As per title, we've just checked with @randaz81 that velocity control for a specific subset of arm joints (0-based) does not work.

[2015-10-02 15:59] pattacini commented on #14
This applies to `ETH` robots.

[2015-10-02 16:43] marcoaccame commented on #14
Ok Ugo, thanks for reporting the issue.

As we already discussed together (you, @randaz81 and I), these are the joints whose control is done on the MC4 can boards attached to CAN1 of the EB2 / EB4 ethernet boards.

Moreover, the velocity control on joints [0, 3] works fine. For this first set of joints the control terminates of the ethernet boards EB1 / EB3.

Thus, we suspect that the boards EB2 /

[2015-10-05 01:16] iron76 commented on #6
@randaz81 should have an opinion on this issue.

[2015-10-05 08:43] marcoaccame opened #15 "The ETH boards should configure themselves in runtime according to messages from robotInterface"
The EMS / MC4PLUS boards configure their services at startup according to their IP address.

For instance, board EB1 which has IP address 10.0.1.1 configures itself to run motion control with 4 joints based on 2FOC boards and analog sensors STRAIN.

The CAN addresses, ports of AEA encoders, and nay other information is kept in FLASH.

However, it would be better that the EMS (MC4PLUS) could receiv

[2015-10-05 08:58] marcoaccame commented on #15
So far, I have implemented the STRAIN service.
Everything is on the runtime_ems_config branch with SHA: 7d945909120222c2c7711bf21ac14f759951647d and SHA: 3d15635a3ea9ba9a0abb62277d5f5489bc38a2ba

There is not the full chain from robotInterface, though. I only have tested that everything is initted and de-initted properly with the very same data structure that robotInterface will send.

The EMS doe

[2015-10-09 12:54] marcoaccame commented on #14
The velocity control on lower arms of `ETH` robots is now working.

@randaz81 and I have worked together to fix the issue.

The problem was that the MC4 boards did not receive a suitable max velocity of joints, thus they could not move. It was necessary to add the parameter in the xml files, to add a field to the config of the joint sent by embObjMotionControl to the EMS boards, and have the EMS s

[2015-10-11 21:09] pattacini commented on #14
Thanks for sorting this out.
Could you update `Bluey` as well please?

[2015-10-11 21:09] #14 closed

[2015-10-12 08:45] marcoaccame commented on #14
iCubgenova04 is updated

[2015-10-12 08:46] pattacini commented on #14
thanks a lot!

[2015-10-14 11:48] valegagge opened #16 "implement I2T check in mc4plus fw"
For ems this check is done by 2foc

[2015-10-14 11:50] valegagge opened #17 "implement check of current spike in mc4plus fw"

[2015-10-14 14:27] marcoaccame commented on #7
tested the new fw from @valegagge with the get-fw-version. it works.
i suggest using an increased minor version number (2.17 build 0) and to commit sources.
the binary should then be committed following what in robotology/icub-firmware-build#3

[2015-10-15 07:32] marcoaccame commented on #15
Implemented the motion control service for foc-based and mc4-based motion control. Implemented also the MAIS service, used by this latter.
So far it is tested on desk bench the foc-based service with 1 joint only.
I can now test the full board EB9 on the purple robot.

[2015-10-15 07:44] marcoaccame commented on #11
Now that the issue #7 is (nearly) closed, i would add to the EMS only a mild check of  presence of MTB boards. In case some are missing I would just alert, not stop service. The reason is that in the purple robot for instance, the MTBs on feet are often missing but now we can still activate the rest of the skin.

Only in the context of issue #15, the absence of the boards will generate a failure o

[2015-10-15 08:03] davege89 commented on #17
I'm going to work on that after some tests on the EoemsController I'm working on branch armV3 (SHA: 2a94ec677d1558f4c0491c3200114af5e7f3e966).

[2015-10-15 08:08] davege89 commented on #16
Same as #17.

[2015-10-15 08:14] davege89 commented on #6
We decided to implement the policy proposed in the previous comments:
the joint should be able to go back when a limit is reached.

I'm going to commit and push the modification in the next few days.

[2015-10-15 08:51] valegagge commented on #7
Done.
commited source with sha 7f54995cafae1c6e55b4558b48fa01eeeb1a9a85.
commited exe in firmware  robotology/icub-firmware-build with sha 2938b868cb101bf8d741714e233c34294b133b8e

[2015-10-15 08:51] #7 closed

[2015-10-15 13:11] davege89 opened #18 "MotionControl: the controller doesn't update joint position if velocity is very high"
@valegagge and I discovered this bug on eyelids joint with out eyelids mounted, so the motor can rotate freely.
If an high speed is set for the current trajectory, encoders values change quickly and the firmware detects these changes as *spikes* and doesn't update joint's position (values are discarded, being considered invalid).
Indeed, robotInterface reports "warning" on that encoder because of

[2015-10-15 13:31] davege89 opened #19 "MotionControl: the controller limits PWM to 10000"
The controller limits PWM to 10000 (using a MACRO) even if PWM limits (configured using XML files or yarpmotorgui) are bigger than 10000.

Since new_fw_ems has been merged into master, the 2FOC limits the current. Thus we can remove the 10k hidden limit.
For mc4plus, the limit is given by the 3360 of PWM peripheral.

We need to:
* add a method for retrieving max PWM of  the board (= for the type o

[2015-10-15 14:09] davege89 opened #20 "MotionControl: merge between mc4plus-controller and ems4rd-controller"
Before the opening of new_fw_ems branch, the two controllers were forked to parallelize the development of different features.
Now the new controller (which supports the new 2foc-fw) has been merged on master and is used for ems4rd project.

Since the goal is to have a common and shared controller for the two boards, a merge between the different objects used in the two projects is needed. The wor

[2015-10-20 07:48] valegagge opened #21 "Currently mc4plus firmware doesn't manage max current of motor."
Motor controller engine does't check if current value  exceeds its threshold, so cannot set joints in hardware fault if it happen.

The threshold of current is set up by current param of limit grroup in xml file.
embObjMotionControl module sends current's threshold to firmware, but fw doesn't  update this value because it doesn't implement " set max current of motor" callback function of eth proto

[2015-10-20 09:46] davege89 commented on #19
A first attempt to resolve the issue has been made on branch ```armV3``` with the commit SHA: 850e036ce9579b4da23c65606ed1db8f1590ab8f.

I tested its behaviour on my experimental setup board, and in the next few days I'll try with the HeadV3 and ethernet robots.
So far it seems working properly.

[2015-10-21 08:38] davege89 commented on #21
This issue is strongly related to #16 and #17.
My opinion is that a one shot solution to a more general "handling of currents for mc4plus" is needed to resolve these misbehaviours.
I'll check the 2FOC firmware to have an idea on how to do that.

[2015-10-22 08:24] marcoaccame commented on #8
there are two available licences for mplab-x which can be requested to @mbrunettini. @valegagge can ask help to @ale-git who has already the 2foc application on mplab-x

[2015-10-22 08:28] marcoaccame commented on #5
this is a sub-task of issue #9

[2015-10-22 09:06] marcoaccame commented on #10
@ale can begin improving messages related to MC then he can assign back the issue to me so that I can improve other messages.

[2015-10-22 09:27] ale-git commented on #19
We must add a maxpwmofmotor parameter in the .xml files, in the Limits section.
- Marco will add the parameter
- Alessandro will make use of it in the pwm decoupler section

[2015-10-22 10:07] valegagge commented on #19
What is the meaning of  maxpwmofmotor? the max hardware pwm value or is it a user limit?
Which is the relationship between this new param and maxPwm param in PID configuration in xml file?
maxpwmofmotor value could affect the broadcasted controller output.

In the commit SHA: 850e036 @davege89 had worked on that ad should be awere of changes.

Maybe it should be better if we talk about this in nex

[2015-10-22 15:46] davege89 commented on #6
The fix is working, but @valegagge and I discovered a inherent problem: if the joint doesn't reach the hw limit  with the given PWM (e.g. limit set inside XML is **35** and joint stop moving at **34.9**, because of friction or mechanicals issues), the board does not stop providing PWM to the motor.
This behaviour could lead to the breaking of the motors and can be avoided with different strategies

[2015-10-22 15:46] #6 closed

[2015-10-23 08:44] davege89 commented on #18
First attempt to find a solution has been made on branch ``armV3`` with SHA: 9514a2b692931d584fe60c3fdeaff1156911a946.

Basically:
* the threshold has been left static (112 iCubdegrees --> 2/3 of degree), cause it seems consistent even with different encoders
* if spikes are detected for a very long time (~1second) around the same area, the joint is put on HW Fault.

@ale-git, check whether this c

[2015-10-23 08:57] davege89 commented on #13
After extensive testing (even with the *in progress* new Controller #20), I'm thinking about considering this problem as the result of the normal weakness of motion control, in case of parameters not perfectly tuned.
In fact, the PWM provided to motor is limited by different parameters inside the XML.
I personally checked that, limiting the max PWM which can be provided to the motor, the problem i

[2015-10-23 16:27] davege89 commented on #20
Fix and improvements have been made in the last week. Last version is with SHA: 4d4887cd92cd98a75eea1a0e7f9c51ce0b7c471a, on branch ``armV3``.
The test of the controller for eth robots has been postponed to the next week.

[2015-10-27 08:51] randaz81 opened #22 "missing i2t parameter"
add a parameter to configure the i2t check (both in fw and in robot configuration files)

[2015-10-27 13:44] valegagge opened #23 "update motor speed in motor status broadcasted data."

[2015-10-27 13:46] valegagge opened #24 "update motor and joint accelleration in broadcasted data."

[2015-10-27 15:39] randaz81 opened #25 "calibration for torso CER"
EMS boards controlling the torso tripod should respond to a specific calibration type message. Before receiving this message boards are not configured. Upon receiving the **three** required messages, joints start the calibration, moving towards the hardware limit  (the procedure is the same then icubv3 eyes, in that case two messages are required)

[2015-10-27 15:49] randaz81 opened #26 "How should the fw handle coupled joints from the control mode point of view?"
For example, when a coupled joint is turned on, also the other coupled joints are turned on.
This means that just introducing a coupling matrix parameter is not enough to get rid of the different firmware version. To be discussed.

[2015-10-29 10:19] marcoaccame commented on #11
Actually, at the moment I prefer not to add any verification of MTB boards at all.

The verification would need to consider some cases (MTB boards w/ old FW version which do not support get-fw-version, new FW version but some MTBs are missing, all MTBs correctly detected), which requires some effort which is best spent in issue #15, where the full verification can be both effective and flexible.

[2015-10-29 10:19] #11 closed

[2015-10-30 16:43] marcoaccame opened #27 "The regular ROPs in boards EB2/EB4 saturates the UDP packet"
In the boards EB2 and EB4 there are 12 joints/motors, skin and a MAIS whose status must be regularly signaled to robotInterface.

In these two boards, the available space reserved for regular ROPs is over and hence, there is no room for increasing size of the struct which define the status of joints and of motors (or of others).

However, there is now the need to revise and possibly increase these

[2015-10-30 16:56] marcoaccame commented on #27
One solution for boards EB2 / EB4  would be to alternate the transmission of the status of the joints/motors six at a time.

To send the complete status we would need the time of two UPD packets, but inside each packet there would be much more space to allow an easy increas of size of data structures.

Now the EB2 and EB4 boards transmits every 1 ms (and not 5 ms as the others) because of the limi

[2015-10-30 16:58] marcoaccame commented on #27
The solution has been implemented and tested on the purple robot and it works

[2015-10-30 17:21] marcoaccame commented on #27
committed sources (2250a7e7ed287633dda3f5ca4ffe16a59a470bfc and robotology/icub-firmware-shared@b9bc85b9640ae388d933be2f4cdae70ec2e54bc4) and binaries (robotology/icub-firmware-build@89d399806af39e6ba66a6fe54cf45348fe3cc497).

updated the purple robot.

[2015-10-30 17:38] marcoaccame commented on #27
now in regular ropframe we have more room which enables us to increase the size of some data structures.

We have:
[code]

With 312 bytes can now increase the status of a joint and/or motor up to 52 bytes.

But maybe it is worth using some of 312 bytes for increasing the status of the skin (EOarray_of_skincandata_t). Now its size is 94 byte and contains 9 can frames and does not allow us to reduce

[2015-11-03 13:54] davege89 commented on #20
Test at different stages have been done on both eth robots available in the lab.
They were all successful.
In order to merge the new features into ``master``:
* a branch called ``controller_ems_mc4plus`` was created to have a meaningful pull request ( #28).   The effective merge has been already performed.
* the branch used for development, ``armV3``, will be used to go on with other tasks on mc4p

[2015-11-03 13:54] #20 closed

[2015-11-03 16:03] davege89 commented on #23
@valegagge, this shoud be accomplished using the new official mc4plus fw (SHA: robotology/icub-firmware-build@65238f391bad5b7b70a34a97def47a3919d8976e).
Check if it's working properly on HeadV3, so that we can close the issue.

[2015-11-04 18:31] marcoaccame opened #29 "Boards EB10/EB11 lose skin CAN packets"
On purple robot I have experienced that if the skin on lower legs is enabled together with inertial sensors (all CAN frames come from the MTB boards), then there is an overflow of the buffer containing the skin CAN frames, even at 1 ms TX rate.

[2015-11-04 18:40] marcoaccame commented on #29
I have solved the problem by a change of policy in parsing the can frames.

Now, all CAN frames from MTB boards are parsed and assigned to the relevant objects.

If they are about skin data, they are passed to the EOtheSKIN object which:
- if possible fills the status which is regularly broadcasted,
- if the status is full (so far it holds 9 items), it temporarily stores them in an intermediate bu

[2015-11-04 18:42] marcoaccame commented on #29
A further comment: the above solution for EotheSKIN was already tested and implemented inside branch runtime_ems_config.

[2015-11-04 18:42] #29 closed

[2015-11-04 19:54] marcoaccame commented on #27
Preliminary tests on purple robot show that we can we can reduce the TX rate to 2 ms for boards with skin by using capacity equal 16 can frames.

And if we use capacity equal to 24 we can reduce to 3 ms.
In this second case, I have measured a good decrease of the CPU % in the PC104.

In comparison with the current situation, robotInterface goes from 41% to 34% and eth0 handler from 11% to 6%.

Als

[2015-11-05 14:12] ale-git opened #30 "Need for longer calibration timeout"
@marcoaccame @davege89 @randaz81
Some type of actuators need a calibration timeuot longer than 30 seconds. Is it already configurable? Otherwise, we should make it configurable or at least increase it in the firmware...

[2015-11-05 14:34] ale-git commented on #25
The calibration procedure implemented is slightly different, because we have now different joints (with or without absolute encoders) with motor encoders that need calibration (iCub V3 motors, linear actuators, and so on), and calibrating a joint with absolute encoder or another one that relies only on motor encoder is transparent in the EMS with 2FOC controlled joints (it is the same thing from t

[2015-11-05 14:34] #25 closed

[2015-11-05 14:36] marcoaccame commented on #27
i close the issue as it was solved by EMS version 2.11

i will open a new issue dealing with increase of skin size

[2015-11-05 14:36] #27 closed

[2015-11-05 14:38] marcoaccame opened #31 "A bigger size of the skin data transmitted to robotInterface would enable to decrease the TX rate"
see last comments of issue #27.

[2015-11-05 14:43] marcoaccame commented on #31
The size of the skin data which is regularly sent to robotInterface has been increased from 9 items to 24 items.

The change is committed in source code and in binaries (robotology/icub-firmware-build@01e63a75944f6483ff39767113e1d3f39f3a211b).

Performed the update of the blue and purple robots.

[2015-11-05 14:46] davege89 commented on #30
IMHO this issue is not firmware-related. I gave a quick look through the code and all the calibration timeouts of the joints are handled by icub-main/src/libraries/icubmod/parametricCalibrator/parametricCalibrator.cpp, used by robotInterface.
They don't seem to be configurable at the moment, but we could add a special case for some new calibration types.

[2015-11-05 14:53] marcoaccame commented on #31
The TX rate can be reduced to 3 ms in all boards with skin.

In the two robots the % of robotInterface and irq/20-eth0 (the thread receiving the UDP packets from the boards) when all skin devices are activated and only robotInterface runs on PC104 has reduced to following values:

- purple robot: (ri., irq) = (41.7%, 11.6%) -> (34.1%, 5.6%) for a - 13.6%

- blue robot: (ri., irq) = (33.8%, 6.3%) -

[2015-11-05 15:11] marcoaccame commented on #31
updated parameter TRANSCEIVER:TXrate of EMS boards for all ETH robots to be:

- 3 ms if skin is attached,
- 5 ms in all other cases.

[2015-11-05 15:40] #31 closed

[2015-11-06 13:48] marcoaccame opened #32 "Review motion done mechanism in FW"
As described in robotology/icub-main#223, the motion done sometimes fails for joints controller by mc4 boards attached to the EMS.

This issue is about making it work. More details will follow.

[2015-11-06 14:54] marcoaccame commented on #32
The verification of motion done implemented in robotology/icub-main#223 now uses a direct request of a variable to the EMS.

The previous method was using the broadcasted value of the same variable and was affected by races between robotInterface and the EMS (OK, races were mitigated by a small delay before each verification, but that was not good practice).

The new mechanism has shown to be work

[2015-11-13 08:17] valegagge commented on #23
I tested it. It works properly.

[2015-11-13 08:17] #23 closed

[2015-11-13 08:42] valegagge commented on #18
moving eyelids joints in position control with high velocity (about 90) thi error happens:
![errore_eyelids2](https://cloud.githubusercontent.com/assets/4233231/11142026/c046f8e0-89ea-11e5-9502-b36ee06ff569.png)

[2015-11-13 17:04] marcoaccame opened #33 "Enhancing saturation information in STRAIN"
The STRAIN board uses the 7th byte of CAN messages  `ICUBCANPROTO_PER_AS_MSG__FORCE_VECTOR` and `ICUBCANPROTO_PER_AS_MSG__TORQUE_VECTOR` to hold information about saturation of any of its 6 the acquisition channels.

However, @DanielePucci and @francesco-romano need some more information.

They have asked to have the saturation information not on a global basis but expressed per each channel. More

[2015-11-13 17:12] marcoaccame commented on #33
After a meeting with @marcoaccame, @randaz81,  @DanielePucci and @francesco-romano, the preferred solution emerged to be the following.

The messages `ICUBCANPROTO_PER_AS_MSG__FORCE_VECTOR` and `ICUBCANPROTO_PER_AS_MSG__TORQUE_VECTOR` keeps on being of length 7.

The 7th byte of the messages is split into groups of two bits, where:

- the first group is equal in both messages and has value either

[2015-11-13 17:18] marcoaccame commented on #33
We would like to implement this as soon as possible in order to allow smooth testing on the purple robot.

Can you please @valegagge manage the FW part on the STRAIN and produce a new build?

Also, @davege89 can you modify the diagnostics messages you have already added in the EMS so that they are extended with this new information?

Thanks to all.

[2015-11-13 18:00] marcoaccame commented on #33
In commit robotology/icub-main@bbc6b9eb0c7a67123eb84e780cfda37a89dc1c05 I have modified the CanBusAnalogSensor.cpp so that it can works seamlessly with both versions of STRAIN messages.

Thanks @randaz81 for the tip.

[2015-11-13 18:14] marcoaccame commented on #33
I am writing an open request of clarification due to the lack of documentation about the format of messages `ICUBCANPROTO_PER_AS_MSG__FORCE_VECTOR` and `ICUBCANPROTO_PER_AS_MSG__TORQUE_VECTOR`.

From the analysis of code of CanBusAnalogSensor.cpp

[code]

[code]

I would deduce that:

1. the length of messages `ICUBCANPROTO_PER_AS_MSG__FORCE_VECTOR` and `ICUBCANPROTO_PER_AS_MSG__TORQUE_VECTOR` can

[2015-11-13 19:39] DanielePucci commented on #33
:+1:

[2015-11-16 09:58] valegagge commented on #33
@marcoaccame : yes! if no channel is saturated than messages' length is 6.

In order to save space for further information, we can avoid to use first pair of bits because it summerizes saturation info of tre channels and backward compatibility is mantained.

[code]

[2015-11-16 11:15] valegagge commented on #33
strain firmware done!

I commited only source code. I'm waiting for ems fw before commiting executable.

[2015-11-16 17:29] DanielePucci commented on #33
:+1:

[2015-11-17 13:01] valegagge commented on #18
@davege89 and I did some test with a new fw that sends num of occurred position spikes in last second.
We noticed that:
- number of spikes is proportional to velocity of joint
- if joint is idle and we move joint by hand, spikes occur.

The figure below reports position and output during joint is moving.
![errore_eyelids_output2](https://cloud.githubusercontent.com/assets/4233231/11212044/b008a108

[2015-11-17 13:44] marcoaccame commented on #32
I am debugging the mechanism on iCubGenova02

[2015-11-17 16:02] davege89 commented on #33
@DanielePucci and @francesco-romano, as you already know the feature is now included in the new firmware version (2.16) for the EMS ( robotology/icub-firmware-build@544eff7f3c67351fab2684fa719fe329bcb06b63 ).

Could you please close this issue after some testing on that?
Thanks!

[2015-11-18 08:32] DanielePucci commented on #33
The new diagnostics seem to work. Very nice job guys. @valegagge @davege89 @marcoaccame

[2015-11-18 08:32] #33 closed

[2015-11-18 08:37] DanielePucci commented on #33
P.S. The tests we carried on consisted in disabling the calibration matrix - so that raw measurements can be directly read at high level - and then in checking that when the raw measurements saturated, the diagnostics  sends the associated saturation message informing about the channel that is saturating, and the saturation direction (up or down).

[2015-11-18 16:35] marcoaccame commented on #32
the mechanism is working correctly on robot iCubGenova02.

Everything is on branch bigger_mc_status on SHAs:

* robotology/icub-firmware@71e8d383aae60decfd8c456e7a99263919cd5286
* robotology/icub-firmware-shared@3ce465de8deb7a5924993acbd7bb097acbcdafcf
* robotology/icub-main@471e0107f773ace3744a41c7a32b799ee5491b35

[2015-11-18 16:56] marcoaccame opened #34 "Increase the status of joints"
There is the need to increase / reorganize the status of joints. in particular, it is required to add some entries in data structures related to the status of PIDs.

[2015-11-18 17:05] marcoaccame commented on #34
In a recent technical meeting we have agreed to differentiate the status of the PID used to control the joint according to the control/interaction mode in use.

The resulting union `eOmc_joint_status_ofpid_t` is the following.

[code]

[2015-11-18 17:07] marcoaccame commented on #34
I have implemented the changes and now I need to test them on the iCubGenova02 robot.

[2015-11-19 08:38] marcoaccame commented on #34
I am experiencing doubts on how to map the old legacy pid variables onto the new ones.

Thus, I have decided to add also a legacy field which can be used just now everywhere in the code. Later on we can use the new fields and drop the legacy ones.

We can also review the content of new unions more easily

[code]

[2015-11-19 08:40] valegagge commented on #34
I have a doubt: when a joint is controlled in compliant position, the status of pid should contain torque reference and torque output also?

In other words, should we defined following struct?
[code]

[2015-11-19 08:57] randaz81 commented on #34
yes, with output = output of the inner torque pid loop

[2015-11-19 09:25] valegagge commented on #34
In short new structures are:

[code]

[2015-11-19 13:19] DanielePucci opened #36 "Error when opening boards associatd with strain"
I am currently using the `iCubGenova02` (ETH robot). Then I open the `canLoader` with the `--calib` option, i.e.
[code]

When I click on the `Calibrate` button after having connected to  a board associated with a strain,e.g.

![screenshot from 2015-11-19 14 15 35](https://cloud.githubusercontent.com/assets/5045846/11271697/0a182c78-8ec8-11e5-80f5-ce8ce126ed48.png)

I get the following error on the

[2015-11-19 16:04] davege89 commented on #33
Just to clarify, this is the meaning of the single fields of the message sent to robotInterface:
* **source device**: CAN bus of the STRAIN board
* **source address**: address of the STRAIN board
* **code**: unique ID to identify the diagnostic message (category: hardware, value: strain saturation)
* **p16**: channel saturated, with a zero-based indexing (0...5)
* **p64**: count of saturation in t

[2015-11-19 16:52] marcoaccame commented on #34
corrected the above data structures in branch bigger_mc_status.
tested correct behavior of robot iCubGenova02 by using the `legacy` union.
done merge on master.
released a new FW version 2.17.

now there will be a new issue opened, aimed at using in FW and in embObjMotionControl.cpp the correct fields of `openloop`, `stiffpos`, `complpos`, `torque`.

[2015-11-19 16:52] #34 closed

[2015-11-19 16:59] marcoaccame opened #37 "Use new fields in joint.status.ofpid"
After activity of issue #34, there is a new definition for the status of the joint.

In particular, the status of the PID has been enlarged to define multiple references and errors. The status is modeled with a union whose fields are used depending on control mode and interaction mode.

So far, icub-main and FW use the `legacy` field, but it is required to use the new fields.

Can please @valegagg

[2015-11-19 17:02] marcoaccame commented on #32
The branch bigger_mc_status has evolved in the context of issue #34.

Now teh branch has been merged into master and a new FW has been released which implements also the motion done as described in here.

The issue can be closed.

[2015-11-19 17:02] #32 closed

[2015-11-19 17:31] DanielePucci opened #38 "Add an option to the canLoader to change the status of the boards into "gateway""
Before addressing a board through the `canLoader`, e.g. that of a strain, one has to open the `ethLoader` and click on the button `Discover` to change the status of the boards into `CAN gateway`, which allows the users to use the `canLoader`.

It could be awesome if we could avoid this intermediate step in one way or another. An option is to add the `Discover` button into the `canLoader`.

@valega

[2015-11-19 17:33] DanielePucci commented on #38
Another option is that the `canLoader` automatically runs a `Discover` when clocking on `Connect`

[2015-11-20 08:38] randaz81 commented on #38
The feature you requested cannot be added in the canLoader tool.
However, both CanLoader and EthLoader have to be rebuilt ex novo, basically because we are deprecating GTK, so I'd like to put this feature in the new version of the tool (only one tool that includes the other two).

[2015-11-20 08:38] #38 closed

[2015-11-20 08:40] DanielePucci commented on #38
:+1:

[2015-11-20 08:41] randaz81 opened #39 "New Can-Loader/ETH-Loader tool (qt version)"
should include also command line option for all possible commands, so it can be included in bash scripts.

[2015-11-20 08:42] randaz81 commented on #39
See also feature request:
https://github.com/robotology/icub-firmware/issues/38

[2015-11-20 08:48] randaz81 opened #40 "EMS boards can speak only with a master with ip address 10.0.1.104"

[2015-11-20 08:52] randaz81 opened #41 "Master (pc104) cannot speak with a board with address 10.0.1.0"
That's fine, but if a user accidentally sets this ip address, it's difficult to recover the board. So this ip address should be banned in the boards firmware.

[2015-11-20 08:54] randaz81 commented on #30
We coulf modifiy the parametricCalibratorEth.cpp to set a configurable timeout from the xml file. I'll give a look.

[2015-11-20 09:16] DanielePucci commented on #33
@francesco-romano @traversaro

[2015-11-20 13:35] randaz81 opened #42 "added "HALL_MOTOR_SENS" tag"
Added `HALL_MOTOR_SENS` to the following list of sensors in xml parser of `embObjMotionControl`.

[code]

Is firmware handling these codes yet?
@davege89 @ale-git @valegagge @marcoaccame

[2015-11-20 17:30] randaz81 opened #43 "unable to program a 2FOC board with just the bootloader"
The setup is the following:
* EMS fully operational with standard application firmware
* 2FOC board with just the bootloader connected to the EMS (no application yet)

I launched ethLoader and clicked discovery. The EMS board was properly found.
Then, I started the canLoader to program the 2FOC for the first time. Even if the 2FOC bootloader is running, I was unable to see any board in the canLoad

[2015-11-23 14:07] DanielePucci opened #45 "Diagnostics message really difficult to interpret"
We are currently experiencing the following error on an ETH robot

[code]

I think that the information are not enough to help the user understand the nature of the problem. Can we improve it?

@ale-git @randaz81 @marcoaccame @davege89 @valegagge

[2015-11-23 14:07] DanielePucci commented on #45
@julijenv

[2015-11-23 14:11] davege89 commented on #37
This has been accomplished since EMS application version 2.18 (robotology/icub-firmware-build@2c3f6c4d67875f99e4ed8b6c800ae2d70d5e29ef).
Closing.

[2015-11-23 14:11] #37 closed

[2015-11-23 19:38] marcoaccame opened #47 "torque at 32 bit resolution"
@DanielePucci has requested to have torque represented w/ 32 bit resolution instead of as a int16_t with 1 milliNm per unit so that we can manage torques of more than 32 Nm.

[2015-11-23 19:43] marcoaccame commented on #47
done `torque32bits` branches in icub-main, icub-firmware-shared, icub-firmware. added in `master` a icub-firmware-buld/testing/ems-torque32bits.hex w/ version 222.20

tested on purple robot. basic movement seems to be working.

@DanielePucci can you please verify it it is OK also the torque control?

[2015-11-23 19:49] ale-git commented on #47
@marcoaccame In the axisController the torques are already represented with int32, but the torque measure setting function eo_axisController_SetTorque was still 16 bit, did you change it?

[2015-11-23 21:00] DanielePucci commented on #47
As we discussed today, further investigations deserved to be carried on to clarify the soundness of measured and reference torques coming from robotInterface. Then, tests on the new representations will also be preformed. @francesco-romano @traversaro

[2015-11-24 08:42] valegagge commented on #10
We'll change spike diagnostic: fw sends diagnostic message to robot interface with number of spikes occurred in last second. If there aren't spikes, then no diagnostic message is sent.

@davege89 implemented this behaviour on branch for test. He will merge it in master.

[2015-11-24 08:43] valegagge commented on #10
related issue #45

[2015-11-24 08:43] valegagge commented on #45
releted issue #10

[2015-11-24 08:53] davege89 commented on #10
Done with SHA: 025c24864d3cbb0b492b11c178037431ef5983cb.
@ale-git has worked on others MC diagnostics message with SHA: d8b0cacaed4b5c836bed3454c72e8557a60e80d8

[2015-11-24 09:24] marcoaccame commented on #47
Yes @ale-git, I have changed it into:
[code]

[2015-11-24 12:10] valegagge opened #48 "Modify fw in order to be compliant with changes done in IAmplifierControl, Ipid and IMotor interfaces"
see issues:
https://github.com/robotology/yarp/issues/645
https://github.com/robotology/icub-main/issues/247

[2015-11-24 16:42] davege89 commented on #18
After extensive testing (using also a dedicated branch ``spikes_test`` to produce special FW with enhanced diagnostics), @valegagge and I can state that:
* the AEA encoder which reads the position of the joint is not signalling any errors due to: faults in SPI transmission, parity errors (noise) or wrong exposition to the magnetic field.
* with the help of @maggia80, we reduced the distance betwee

[2015-11-25 10:23] marcoaccame commented on #10
@ale-git , i have seen that you have changed the description of the errors, but I think it is still required  the description of what par16 and par64 contain. The aim is to print all the information required to understand what is happening and where to search the robot for fixing it without the need to browse the source code.

For instance, the error `eoerror_value_MC_aea_abs_enc_invalid`, the one

[2015-11-25 10:43] DanielePucci commented on #10
Yes guys, this bad diagnostics make us loos years.

[2015-11-25 10:56] ale-git commented on #10
I've added the "par16 = ID of joint" specification in all messages since the meaning is always the same, and removed all redundant par64. Anyway, I think that robotInterface should interpret the messages and print them in readable format, instead of printing them in raw format together with the decription book :-)

[2015-11-25 11:10] DanielePucci commented on #10
@ale-git :+1:

[2015-11-25 14:21] marcoaccame commented on #47
tested again on iCubGenova02 and merged into master.

[2015-11-25 14:21] #47 closed

[2015-11-27 12:31] valegagge commented on #36
The problem was due to a wrong commit: on master branch there was implemented a new feature for use multiple calib matrices that needs a particular version of canLoader.

Moreover I noticed  bug fix about set_curr_tare message was missing.

Therefore I moved implementation of the new feature in a new branch called strain_with_ABCmatrix and restored bug fix on master.

I released a new version of s

[2015-11-27 14:41] DanielePucci commented on #36
Thank you very much @valegagge. I think that, however, we freeze the code on the iCubGenova02, and test this new feature as soon as the robot comes back (Monday 7th). Can't we test this improvement on the iCubGenova04?

[2015-11-30 08:34] valegagge commented on #36
yes, of course!
I'll wait your feedback

[2015-12-07 11:41] marcoaccame opened #50 "timing in control loop should be tunable"
In https://github.com/robotology/icub-support/issues/130#issuecomment-161992374 it was reported a:

`Warning on "timing overflow on some phases of the control Loop on EMS" (arms)`.

The reason of that may be due to the fact that the boards in forearm (EB2/EB4) have 12 joints to manage and in some control situations they must send many CAN frames all together.

The control loop sends the CAN frames

[2015-12-07 11:49] marcoaccame commented on #50
I have added the possibility to configure in runtime the timing for the control-loop, provided that it is not running (i.e., we are in CFG state and not in RUN).

Now the boards which behave as CAN gateway and dont have a local motion control activity (EB2/4/10/11) have the following timing.

`RX-DO-TX = 450-050-500`

All others have timing:

`RX-DO-TX = 400-300-300`

I have produced a new EMS fw

[2015-12-11 13:56] marcoaccame opened #51 "Runtime monitoring of ETH status"
The EMS is not monitoring the status of its ETH switch in runtime.

There are methods of HAL which query via I2C some registers of the Micrel switch which contains diagnostics info. So fare we have information about link up/down and number of detected RX CRC errors.

This reading is not normally enabled because reading one register is an operation of several hundreds of micro-seconds and is incomp

[2015-12-11 14:13] marcoaccame commented on #51
The object EOtheETHmonitor is responsible to perform this check.

It starts a low priority worker task which executes periodically (by default every 100 ms) and performs all the I2C readings required to verify the health state of the ETH switch.

The control loop calls a _Tick() function at each iteration. This function just checks if there is new information produced by the worker task. If any, i

[2015-12-11 14:18] marcoaccame commented on #51
I have tested a new version of FW which runs the EOtheETHmonitor.

The link up/down is correctly detected at deskbench. I did not test the CRC detection because it was correctly tested time ago when the HAL method was implemented.

I also have tested the application of the iCubGenova02 robot and the EOtheETHmonitor works without interfering with the control loop.

Hence I have produced a new FW ve

[2015-12-14 14:17] marcoaccame commented on #50
I attach a piece of a log file w/ timing of control loop which exceed the TX time of 300 usec. The file comes from @francesco-romano and was taken with a FW release older than v2.21.

It appears that the TX phase lasted even more than 500 usec: 736, 1070, etc.

As the `RX-DO-TX = 450-050-500` newly tuned timings cannot handle these numbers, we close the issue.

As there is a suspect that the extra

[2015-12-14 14:17] #50 closed

[2015-12-14 14:19] DanielePucci commented on #50
:+1:

[2015-12-14 14:26] #51 closed

[2016-01-08 15:14] valegagge opened #53 "Prepare data for "get reference" functions"
This issue is related to https://github.com/robotology/icub-main/issues/264.

Fw should fill target fields in joint status structure.

[2016-01-18 14:08] valegagge commented on #53
Speaking with @barbalberto and @randaz81, we decided to add a field for taget position configured by IPositionDirect::setPosition. therefore new strucutre for target is:
[code]
In this way each control mode interface has each target.

[2016-01-18 14:09] valegagge commented on #53
almost done.
Currently targets are updated in setpoint command's callback.
In new motor controller we should updated target values by eo_emsController_GetJointStatus

[2016-01-18 14:10] valegagge commented on #48
Done.
To be tested

[2016-01-18 14:37] valegagge commented on #17
I implemented overcurrent fault check.
To be tested.

[2016-01-18 14:38] valegagge commented on #16
I implemented this check.

to be tested.

[2016-01-22 15:32] marcoaccame commented on #15
It is high time to update this issue.

The two branches  runtime_ems_config (one for icub-firmware and one for icub-firmware-shared) have been merged into master on 11 jan 2016.

The result is an EMS application which is working apparently as before.

Every service now (for service I mean: motion control, skin, inertial analog sensors, strain analog sensor, mais analog sensor) is modeled by an obj

[2016-01-22 15:42] barbalberto commented on #15
:+1:

[2016-01-26 14:49] valegagge commented on #53
Tested with movementReferencesTest in icub-test.
Results:
- on mc4plus and ems with 2foc ok
- on ems-with-mc4 nok, but it is not a bug.
  We decided that references aren't asked to mc4 but cached in ems, so in some particular situation the given reference is not correct. For example if the joint j is in openloop control mode and the user calls PositionMove(j, mypos) the getreference function retur

[2016-01-26 14:49] #53 closed

[2016-01-26 14:55] valegagge commented on #48
I verified motorOverCurrent and max motor pwm limit work properly by  changing limits in config files.

Mc4plus doesn't read power supply voltage. (Future task)

ems and mc4plus don't read temperature (Future task)

[2016-01-26 14:55] #48 closed

[2016-01-26 14:59] valegagge commented on #22
Done. Added motorNominalCurrent and motorPeakcurrent.

These params are send to fw ems and mc4plus, but not send to 2foc.
2foc still uses param written in code.

[2016-01-26 14:59] #22 closed

[2016-01-26 18:52] randaz81 opened #56 "PositionMove with RefVel = 0"
PositionMove commands with reference velocity = 0 should be not executed by the ETH firmware (while the reference position value should be updated instead).
Currently the joint performs a jerky and dangerous movement (check for possible divisions by zero).
To be verified in EMS, MC4PLUS and MC2PLUS firmwares.

[2016-01-27 06:44] ale-git commented on #56
@randaz81, @valegagge
It is not a bug: I remember that it was decided in a software meeting some years ago that velocity=0 in positionMove means "maximum velocity". The function involved is
extern void eo_trajectory_SetPosReference(EOtrajectory *o, int32_t x0, int32_t xStar, int32_t velAvg)
and specifically
if (!velAvg) velAvg = o->vel_max; // line 163  of EOtrajectory.c
If we need to change this

[2016-01-27 06:48] ale-git commented on #56
If I remember correctly, rejecting the position commands with velocity=0 was the original behaviour of the function.

[2016-01-27 09:38] lornat75 commented on #56
I agree that the current behavior (max velocity) is weird, I think it is not too bad if the joint does not move. If I recall correctly this was the behavor of industrial motion control boards I used in the past.

[2016-01-27 18:30] ale-git commented on #56
Now positionMove with refVel = 0 is rejected (but position reference is stored).
velocityMove with refAcc = 0 is interpreted as a velocityStop, because simply rejecting the command would mean that the joint continues to move with the previous velocity, since the velocity timeout watchdog is reset when a new velocity command arrives. Otherwise, a continuous stream of velocityMove with refAcc = 0 wo

[2016-01-27 18:30] #56 closed

[2016-01-28 13:04] valegagge commented on #16
I2T check is implemented in mc4plus firmware version 2.21, but it desn't run until I2T params ("motorPeackCurrent" and "motorNominalCurrent") are found out.

[2016-01-28 13:10] valegagge commented on #21
Overcurrent fault is checked in mc4plus firmware version 2.21.
I tested it by settining overloadCurrent=0 in xml config  file.
I not tested by changing overloadcurrent by yarp API, but I suppose it works fine.

[2016-01-28 13:10] #21 closed

[2016-01-28 13:12] valegagge commented on #17
done.  see #21

[2016-01-28 13:12] #17 closed

[2016-02-15 09:14] valegagge commented on #36
I updated strain sensors on iCubGenova04 with 3.0.4 version. All is ok.

[2016-02-15 09:14] #36 closed

[2016-03-09 08:00] valegagge opened #57 "error in calculation current offset in mc4plus"
At startup fw performs a certain number of current reads and uses them to calculate current offset..

I read current value of mortors when pwm not supplied: some channels have current  +-20 mA, while other have 250 mA.

[2016-03-09 08:07] valegagge opened #58 "Error in reaching target position of about 1 degree"
On robot ethernet, when a position command is given, the position reached differs from that required of about 1 degree.

[2016-03-09 08:08] valegagge opened #59 "Change type of stiffness and damping from int to float"

[2016-03-09 09:52] randaz81 commented on #58
This issue should be addressed by improving the tuning of the position PID gains

[2016-04-14 08:31] traversaro commented on #39
I don't know if "can be included in bash scripts" means that, but it would be extremly convenient to have the [`updateRobot.sh`](https://github.com/robotology/icub-firmware-build/blob/master/updateRobot.sh) script to work also on ETH robots.

[2016-04-22 10:49] valegagge opened #60 "Bug in converting rotor max and min position from icubDeg to mc4-can units"
In function eoprot_fun_UPDT_mc_motor_config, motor limits are not converted from icubDeg to mc4-can units.

[2016-04-22 11:35] valegagge opened #61 "In MC4PLUS board pwm peripherals are configured in pairs"
This bug has been fixed partially by @ale-git .
see https://github.com/robotology/icub-firmware/commit/047f97e2be584b4692cfe4ecb4788d4160aaca30

In order to solve the problem and have clear code, we need to uncouple pwm devices in enable, set and get functions.

[2016-05-04 11:24] marcoaccame commented on #15
The FW of ETH boards (EMS, MC4PLUS, MC2PLUS) now supports runtime configuration (RTC) for all services apart from motion control.

It means that when robotInterface loads a device of type embObjMais, embObjSkin, embObjStrain or embObjInertials, it sends all relevant configuration data to the ETH board which configures itself to offer the service.  As such, for instance, the CAN location of the STR

[2016-05-06 11:26] valegagge opened #63 "Add watchdog of mais messages receiving"

[2016-05-09 15:51] francesco-romano opened #64 "HW fault error without description"
Today an hardware fault occurred but it is without description.
The error is:

[code]

[2016-05-09 15:52] francesco-romano commented on #64
cc @marcoaccame @ale-git
@DanielePucci @randaz81

[2016-05-10 12:40] valegagge opened #65 "Add check limits at the end of abs calibration (calib of type 3)"

[2016-05-10 13:07] valegagge opened #66 "Improve check of torque valid value in "ethernet motion control" module."
Currently, the motion control module, if receives the same value for 100 ms, puts motors in fault because thinks the virtual strain has stopped to trasmit.

In case strain is saturating, it sends the last valid value.
So, motor controller interprets the saturation of strain like no trasmission and puts the motor in fault.

Therefore, it is necessary to improve this check in order to continue to co

[2016-05-17 08:45] francesco-romano opened #67 "Check if Coulomb friction compensation is enabled if torque control is active"
@DanielePucci and me were trying the identified motor parameters on iCubDarmstadt01 and we noticed that, even changing the coulomb friction compensation parameters, we did not notice any appreciable difference in the behaviour of the torque-controlled joints.

Is the coulomb friction actually considered in the torque control in the firmware?

[2016-05-17 08:57] DanielePucci commented on #67
@randaz81

[2016-05-17 11:16] randaz81 commented on #67
I'll check it. Just for confirmation, you are speaking about `stictionUp` `stictionDown` parameters, am I right?

[2016-05-17 11:52] francesco-romano commented on #67
Yes
`stictionUp` and `stictionDwn`

[2016-05-18 11:29] randaz81 commented on #67
In the current firmware build stictionUp stictionDown are unused :(

[2016-05-18 11:42] traversaro commented on #67
cc @TeoKa

[2016-05-18 11:44] francesco-romano commented on #67
This explains the behaviour we noticed!
Thanks @randaz81

[2016-05-20 07:40] valegagge commented on #66
@ale-git modified check with this commit d6cb08c77c837c095757aec828518debc05674f1
Now I'm going to add watchdod on receiving can messages. (Same watchdog can be used to check mais and skin messages.)

[2016-05-20 08:49] randaz81 commented on #66
100ms are already enough.
Better to remove the *2 from:
 WatchDog_set_base_time_msec(&o->trq_fbk_wdog, 2*DEFAULT_WATCHDOG_TIME_MSEC);

[2016-05-20 09:01] randaz81 commented on #66
So, motor controller interprets the saturation of strain like no trasmission and puts the motor in fault.

The controller does not uses directly the strain values, it uses the torques estimated by wholeBodyDynamics. This means that wholeBodyDynamics is sending the same value multiple times... which is very strange and should be investigated (even assuming that the strain is saturating, estimated t

[2016-05-20 09:11] traversaro commented on #66
Yep, I can confirm that this quite strange, as the value should always be changing (at least an epsilon) in all existing version of `wholeBodyDynamics(Tree)`. @valegagge did you experience this in a real robot/setup?

[2016-05-20 10:05] valegagge commented on #66
I know motorcontroller doesn't use strain value, but the torques estimated by wholeBodyDynamics.

The imlplemented check behaves as fallowing:
put motor in hwfault if receives the same value for 50 times.

During test some joints went in fault, So this mean that motor controller receives the same value for 50 times.

Currently I have not enough time to study in deep this issue, but after rapid ana

[2016-05-20 10:54] traversaro commented on #66
The default period of `wholeBodyDynamics` is indeed 10 milliseconds, and I suspect that the virtual analog sensor in the `embObjMotionControl` has a similar default period. My feeling is that for those 50 ms for a combination of reason (delays in network/thread scheduling?) no estimate coming from WBD is arriving to the the motorcontroller.
Probably this is correlated in some ways with the STRAIN

[2016-05-20 11:16] valegagge commented on #66
@traversaro I think my first assumption that relates strain saturation with this issue was not correct.

If the tx period of wholeBodyDynamics is 10 ms and if five consegutive torque values are quite similar then it is very likely this problem happens.

[2016-05-20 11:33] traversaro commented on #66
Yes, I was not considering the precision lost in double ---> EMS unit conversions. What is order of magnitude (in Nm) of the lost precision?

[2016-05-20 12:16] randaz81 commented on #66
well, depends on the fullscales you set in the configuration files.
Assuming a fullscale of +-25 Nm, the minimum torque value which can be represented is 25/32768=0.76 mNm (which is quite a small number...)

[2016-05-20 12:17] traversaro commented on #66
Definitely. I then have the strong feeling that no torque estimate is received for 50 ms.

[2016-05-23 07:27] traversaro commented on #67
I tried to do some naive investigation, and I noticed two interesting thing:
* There is a code path in which the coulomb friction compensation is commented out :
 https://github.com/robotology/icub-firmware/blob/9de4f7c2bb2c6ae4bdc42fc92d8063c51cbd9a78/emBODY/eBcode/arch-arm/board/mc4plus/appl/wip/src/eoappservices/mc.old/EOpid.c#L337
* There is another code path in which the stiction up and stict

[2016-05-23 07:44] traversaro commented on #67
Upon a quick search, I think that Coulomb compensation was committed commented out in https://github.com/robotology/icub-firmware-shared/commit/bfa54caf76734483efbd9a9930ce90bf954b0351 . At some point the source code was moved to the `icub-firmware` repository, so it is not easy to follow the history.

[2016-05-26 12:04] valegagge commented on #63
I implemented a general purpose watchdog object.
I used it to check mais and strain transmissions are not interrupted unexpectedly.

My work is on canMsgWatchDog branch.
I tested it on simple setup.

TODO: test on robot

[2016-05-27 07:25] valegagge commented on #63
Tested on robot (lumix): ok.
I need to test this feture on arm-V3.

[2016-06-01 11:52] valegagge commented on #66
After studing in deep, I get following conclusions:

1) WBD sends data every 10 ms (it uses a yarp rate thread)
2) Virtual wrapper reads WBD data in blocking way. When it receives something, calls embObjMotioncontrol::UpdatedMeasures function
3) embObjMotioncontrol::UpdatedMeasures limits input torque to "TorqueMax" value (param in XML file) and sends limited torque value transformend in milli Nm

[2016-06-01 11:55] DanielePucci commented on #66
I'm concerned with point 4): shouldn't it be an error message instead of warning message?

[2016-06-01 11:57] valegagge commented on #66
ops... yes is an error message

[2016-06-01 12:04] DanielePucci commented on #66
👍

[2016-06-01 12:26] valegagge commented on #66
I done changes explained above in 5b7fbdc95659a52c56047b60a3f736f34f33bcb9

[2016-06-01 12:26] #66 closed

[2016-06-06 15:43] traversaro commented on #67
Caveat: the new firmware seems to be doing friction compensation in https://github.com/robotology/icub-firmware/blob/0c582590f99b277d3f7e5cba27058a83d1595b33/emBODY/eBcode/arch-arm/embobj/plus/mc/Pid.c#L131 .

[2016-06-06 16:44] ale-git commented on #67
Fixed by https://github.com/robotology/icub-firmware/commit/e99a6ed4cb6af0da2b9d242aa8793babf31e8d36

[2016-06-07 09:51] traversaro opened #68 "STRAIN boards should be checked for 0xFFFF elements in the calibration matrix"
For unknown reason, it is possible that some values of the calibration matrix turn in `0xFFFF`.
We should have a check somewhere (the STRAIN board, or the EMS or the embObjAnalogSensor device) to check that no element of the gain matrix is set to `0xFFFF` at configuration time.

[2016-06-07 09:51] traversaro commented on #68
See https://github.com/robotology/icub-support/issues/236 .

[2016-06-08 13:37] DanielePucci commented on #68
@marcoaccame @valegagge

[2016-06-08 16:38] pattacini opened #69 "NEI - how to use to measure deflection of the spring"
@hu-yue commented on [Thu Feb 25 2016](https://github.com/robotology/QA/issues/100)

Hi,
as we broke some wires as reported in https://github.com/robotology/icub-support/issues/171, now I discovered that there is this device which should measure the deflection of the spring.
However, I have no idea about how to use it?
As we keep breaking these wires (during walking, squatting, basically whatever

[2016-06-09 08:36] randaz81 commented on #68
it should be checked in the STRAIN board firmware.
After saving to the eeprom, we must re-read values and perform a check if values are identical to the ones currently stored in ram.

[2016-06-13 08:06] DanielePucci opened #70 "getMotorsPwm of controlBoardDumper sends PWMs always positive"
I am trying to read the pwms from the ETH robot iCubGenova05. More precisely, I'm using the `controlBoardDumper` launched as follows:

[code]
and when I read the two ports
[code]
and
[code]
the former streams always positive pwms. As for an examples, typical values obtained from `controlBoardDumper/left_leg/getMotorsPwm` of the `left_ankle_pitch` joint are:

[code]
while  typical values obtained f

[2016-06-13 08:07] DanielePucci commented on #70
@maggia80

[2016-06-15 07:51] valegagge commented on #68
Three questions to understand better the problem:
1) Can you tel me strain firmware version number?
2) When the problem happen, does the canLoader print something on shell?
3) When the problem happen, can you close and reopen the calibration windows and check if the same element of matrix has value 0xffff?

Thank you!

[2016-06-15 08:28] traversaro commented on #68
Answers relative to the instance of the problem occurred in the `iCubDarmstadt01` (see https://github.com/robotology/icub-support/issues/236).

1) As far as I remember we flashed the latest firmware available at the beginning of May. Probably the 0xFFFF have been there for a long time unnoticed, so it could be possible that the problem was relative to an old firmware.

2) No part of the software (

[2016-06-15 08:37] valegagge commented on #68
ok, thanks!

[2016-06-15 09:51] valegagge commented on #63
Tested on arm v3: ok

[2016-06-15 09:51] #63 closed

[2016-06-16 12:10] ale-git commented on #70
The 2FOC fw wasn't upgraded to the latest version, so it wasn't sending the pwm data to the EMS (what you was seeing was the motor rotor position :p ). Fixed.

[2016-06-16 12:10] #70 closed

[2016-06-16 13:22] valegagge commented on #57
this problem happened on cshape board mounted on armV3. The issue was due to a flaw of board. I sobstituted the board and the problem is not more happened.

[2016-06-16 13:22] #57 closed

[2016-06-17 08:30] plinioMoreno opened #71 "Decoupling equation mismatch"
@randaz81, is this the [line](https://github.com/robotology/icub-firmware/blob/master/motorControllerDsp56f807/common_source_code/position_decoupling.c#L22) that decouples the eyes position in the firmware? The equation is Vs = L+R
If that is the case, then the [wiki documentation](http://wiki.icub.org/wiki/Vergence,_Version_and_Disparity) does not match the code, which is Vs=(L+R)/2. Then, the co

[2016-06-17 14:43] valegagge commented on #68
@randaz81 if we implement this check, in case of failure what does the strain do?
1) sends an error message
2) retries to write with a max num of attempts
3) 1) and 2)

If it sends an error message can Loader should be able to manage it opportunity.
If I remember correctly, no error messages are provided by CANprotocol.

I think we can add this check in strain firmware, but we also could be make C

[2016-06-22 13:50] valegagge commented on #68
In order to close this bug quikly, I decided to implement the check of writings in eeprom in strain firmware and to postpone the canLoader improvements.

In particular:
1)  Now when strain receives SAVE_IN_EEPROM message, it writes data in eeprom then reads them again and compares read data with written data. Sends a rasponse with the result of comparison.

2) CanLoader checks response to SAVE_IN_

[2016-06-22 14:40] valegagge commented on #68
yes! raw data read by sensor

[2016-06-22 18:35] traversaro commented on #68
I think I am missing the question, we can discuss face 2 face tomorrow.

[2016-06-30 06:30] valegagge commented on #61
done. Thanks to @ale-git .
see 87fff2321478deb4b9e47f1965223444c549bf7f

[2016-06-30 06:30] #61 closed

[2016-06-30 07:54] valegagge commented on #42
Yes, except `HALL_MOTOR_SENS`.
Where are `HALL_MOTOR_SENS`  mounted? I can't find in robots' config files.

[2016-07-06 07:06] valegagge commented on #19
We added Motor pwm limit in xml file. This value limits the pwm given to the motor. (After decoupling)

Currently each board type has a different renge of pwm values: for example mc4plus works in (0, 3360) while 2foc in (0, 32000). Currently user cannot get this information.

[2016-07-06 07:06] #19 closed

[2016-07-06 07:09] #18 closed

[2016-07-06 14:42] valegagge commented on #68
Tested with @traversaro . all is ok.
Released strain version 3.0.5

[2016-07-06 14:42] #68 closed

[2016-07-07 09:16] valegagge commented on #16
Params have been found out in experimental way for macplus. (head and arm V3)

[2016-07-07 09:16] #16 closed

[2016-07-07 09:17] valegagge opened #72 "implement I2T check in 2foc board"

[2016-07-07 09:48] valegagge opened #73 "Add current limit in order to limit torque on motor"
The purpose of this limit is to avoid motor damages. If instantaneous current exceeds the limit, the joint will be not put in hardware fault

[2016-07-08 09:07] valegagge commented on #60
This is not a bug because rotor limits are not expressed in degree in xml files.

[2016-07-08 09:07] #60 closed

[2016-07-15 07:42] francesco-romano opened #74 "Hardware Fault when faulting the robot"
When the robot is torque controlled and it is faulted, when it is unfaulted the joints goes into HW FAULT instead of idle, and they must be idled one by one.

@ale-git

[2016-07-27 07:09] valegagge commented on #8
I added mplabX project files for strain and mais application on master branch.
(see 587862a78745c7e3b005a9d89da73b50795e08fa and 70db9e71032f6e08ccc8cbdd9f8158202a2e1081 )

I used MplabX ide v3.35 and compiler Mplab c30 ver 3.31.
Note that the compiler is the same used in mplab, so the executable should be the same.
Before using executable compiled with new ide, i would like test it on a robot, bu

[2016-07-27 09:17] valegagge commented on #8
Also added Mplabx project files form mtb.

[2016-07-28 17:19] serena-ivaldi opened #75 "errors when attempting to control the arms with direct position control"
Dear all

we are having problems with the direct position control of iCubNancy01. We are trying to control the torso and the arms with a direct position control mode. It works " partially"  (i.e. not for all the joints, which we cannot explain differently, the wrist pronosupination appears in direct control mode in the yarpmotorgui but does not move at all). But most importantly the robotinterface

[2016-07-29 09:53] valegagge commented on #75
I Serena,
reading your log file, I can suppose not all boards have received the command of switch in position direct control mode due to high rate of commands sending.

In oreder to check if my conjecture is right, in your application , can you give setControlMode command to one joint per time and insert a small delay between two consecutive commands?
After that, you can check that every joint is

[2016-08-01 09:55] barbalberto commented on #75
The following error message:
`number of streaming intput messages to be read is`  **7415**  `and can overflow `
is coming from the controlBoardWrapper receiving too many messages from its port so the queue is growing too fast with respect to the rate it is able to forward the commands to the HW. Closing the application which sends the data, the queue will be consumed and the joints will eventually

[2016-08-17 13:16] marcoaccame commented on #75
To further support what Valentina suggests (send the control modes one at a time, add a small delay between each command,  read back the control mode before you go forward...) I say the following.

From the log I can see that the message `the TX phase of the control loop lasts more than wanted`, appears for boards EB2 / EB4 only and is due to the extra time taken to transmit 12 CAN frames on CAN1.

[2016-08-29 08:11] #75 closed

[2016-08-31 07:54] valegagge commented on #8
I flashed strain, mais and skin firmware compiled with MPLABX ide on purple iCub.
 - Strain version is 3.0.6
 - Mais version is 3.1.3
 - Skin version  is 2.17.1
The executables are here: icub-firmware-build@132f49a78b2a15d01c64706680c629291a77f70c

If in a few days no error occurs, I'll release these new versions.

[2016-09-02 10:06] valegagge commented on #8
No error occured, so I moved the executables in master branch.

[2016-09-02 10:06] #8 closed

[2016-09-12 12:49] francesco-romano opened #76 "Signal when joint reaches joint limit"
I would like to propose a feature request.

It can be very useful to have a log (error?) when the robot hits some joint limits.
Consider for example when the robot is in torque mode.
The firmware does not apply the desired torque when the limit is hit, but because no errors is emitted understanding the cause of the robot misbehaviour can be very difficult (also because usually torque-based control

[2016-09-12 14:36] randaz81 commented on #76
It can be done.
Some additional considerations:
- why you are interested in this? Actually the same problem applies to position/velocity control, but no signals are emitted, the trajectory is simply clamped.
- In torque mode the risk is to generate this signal several tens of times in a second.
- An high level controller can easily handle this: just check the encoder position vs the joint limits r

[2016-09-15 13:46] valegagge opened #77 "Implement "virtualization" of 16 bits timer to 32 bits timer in hal-mc4plus."
In ordet to read a quand_enc, HAL libary reads conuter of timer connected to the motor.
In mc4plus there are two 16-bits timer (TIM3 and TIM4) and two 32-bits timer(TIM2 and TIM5).

In some cases, like pronosupination of icub, 16 bits are not enought.  hance, the need to implement this improvement.

The implementation could use the interrupt on overflow of timer counter register.

[2016-09-15 14:30] valegagge opened #78 "Use hardware joint limits in motor control core"
see https://github.com/robotology/icub-main/issues/372

[2016-09-21 09:14] davidetome opened #79 "MC4PLUS - external fault status"
If I press the fault button once the mc4plus remains in the fault status until I reset the boards (usually power off - power on) that takes a lot of seconds to wait before you can run yarprobotinterface again.
It should be nice if , every time yarprobotinterface starts, mc4plus checks the actual fault button status.
@valegagge

[2017-03-23 09:42] valegagge commented on #79
Fixed.
You can use fw MC4PLUS 2.48 on master branch.

I merged this patch in devel branch also.

[2017-03-23 09:42] #79 closed

[2017-05-02 08:17] valegagge commented on #78
Done.

see 71a124dc066bbdcdc9984f76483cbbe248e236a0 and 381b76c081f442c0eb54f47699df72fcd0ce9da2

[2017-05-02 08:17] #78 closed

[2017-05-02 13:14] valegagge commented on #59
Done.

Currently values of torque, stiffness and damping exchanged between firmware and embObjmotioncontrol are in float and their measure units are: mN m,   mN m / degree and  mN m / (degree/sec) respectively.

These changes have affected on icub-firmware, icub-firmware-shared and icub-main.
see:
icub-firmware@cb96429669203c9dddaa2843025fdc3edff26e18
icub-firmware-shared@26dfc56a94dd9df97f739bf87

[2017-05-02 13:14] #59 closed

[2017-05-02 13:21] valegagge commented on #73
Done. We implemented the check of current limits in firmware.

The user can configure the value of limit in xml file and the firmware performs both I2T and current overload (instantaneous peak) checks.

[2017-05-02 13:21] #73 closed

[2017-05-02 14:48] traversaro commented on #73
will be put or will be **not** put in hardware fault?
Is this changing the behavior of our robots?
cc @S-Dafarra @diegoferigo @gabrielenava

[2017-07-12 13:23] traversaro commented on #67
For reference, the code that compute the torque control PID action is:
* https://github.com/robotology/icub-firmware/blame/f5850b0d935e814eab5f1a448a6471b141dfcc5f/emBODY/eBcode/arch-arm/embobj/plus/mc/JointSet.c#L579 for coupled joints
* https://github.com/robotology/icub-firmware/blame/f5850b0d935e814eab5f1a448a6471b141dfcc5f/emBODY/eBcode/arch-arm/embobj/plus/mc/JointSet.c#L583 for not coupled

[2017-07-12 13:24] francesco-romano commented on #67
This is consistent with what I observed on the real robot

[2017-09-15 21:52] #69 closed

[2017-10-27 13:53] francesco-romano commented on #74
@marcoaccame @ale-git this issue is still a problem.

cc @DanielePucci

[2017-10-29 23:23] DanielePucci commented on #74
Yes, it slows down the robot experimental activities. May we do something about this?

@ale-git @marcoaccame

[2017-10-30 08:01] barbalberto commented on #74
On the yarpMotorGui there is a button to idle/run all joints of the robot in a single click, is it not enough?

[2017-10-30 08:02] marcoaccame commented on #74
Hi @francesco-romano and @DanielePucci,

The firmware supports commands to send joints in IDLE/RUN. And I believe that the **yarpmotorgui** already has buttons which sends in IDLE/RUN the body part or the whole robot.

... @barbalberto just confirmed that.

[2017-10-30 08:13] traversaro commented on #74
Only the single joint idle button sends [1] the `VOCAB_CM_FORCE_IDLE` command necessary to switch the hardware fault joints from `VOCAB_CM_HW_FAULT` to `VOCAB_CM_IDLE`, see  [2, Section 3.1 ] . This is the reason why on hardware fault you need to put in idle the joints one by one, and the single-click idle/run all joints is not useful.

[1] : https://github.com/robotology/yarp/blob/f158a2436c8897a

[2017-10-30 08:23] barbalberto commented on #74
Ok, now I get it. Actually I think it is a bit confusing that idles buttons do different things... I always forget about it.
I'd say the firmware side is doing its job, the issue is that there is no handy way to send `FORCE_IDLE` command to all joints.
Shall we add a separated button to the yarpMotorGui and clarify the behaviour?
@randaz81 what do you think?
Other ideas?

[2017-10-30 08:53] traversaro commented on #74
Probably there was an implicit point in the issue: until some time ago, after pressing the "big red button AKA fault button" the control mode of the joints was switched to `VOCAB_CM_IDLE`, not `VOCAB_CM_HW_FAULT`. From the perspective of working on the robot, that behavior was much more convenient.

[2017-10-30 08:58] ale-git commented on #74
Ok I'm going to check the fw - the state should be IDLE actually.

[2017-10-30 09:53] DanielePucci commented on #74
Thanks @traversaro for clarifying. Leaving aside the (annoying :) ) joint-by-joint idling after faulting the robot, I was wondering why pressing the robot's fault button caused the joints to switch into  `VOCAB_CM_HW_FAULT`. Sorry for not clearing mentioning the two separate points of this issue

[2017-10-30 13:54] valegagge commented on #74
Hi all,
 @ale-git and I performed following test on green robot:

**TEST 1:**
1. launched yarprobotinterface, when robot is ready all joints are in position control mode.
2. pressed fault botton and all joints went in idle mode
3. released fault botton and pressed icon "run all parts" of yarpmotorgui: all joint went to position control mode.

**TEST 2:**
1. launched yarprobotinterface, when robot

[2017-10-30 14:05] traversaro commented on #74
cc @S-Dafarra @gabrielenava

[2017-10-30 18:54] DanielePucci commented on #74
Hi @valegagge,
thank you very much for further investigating this.

I fear that the number of joints in torque mode has an influence on the obtained robot behaviour

Just as a curiosity, how many joints did you set into torque control mode during your tests?

[2017-10-31 07:57] valegagge commented on #74
I don't think the number of joints in torque control influences the behaviour of robot. Anyway i set 4 joints of leg in control mode.

Please, let me know if the robot has a different behaviour,  putting more joints in torque control mode.

[2017-10-31 10:18] S-Dafarra commented on #74
I was able to reproduce the issue with a simple test. Indeed it seems that the problem is happening when an external controller is sending references to the robot. When pressing the fault we are used to close also these external controllers, which on exit, try to change the control mode to ``POSITION``. From this simple test, it seems to me that this attempt of changing the control mode while faul

[2017-10-31 11:05] valegagge commented on #74
@S-Dafarra please could you attach the log file? maybe there there are some information that let us to understand the behaviour.
thanks
Vale

[2017-10-31 12:04] DanielePucci commented on #74
@valegagge @marcoaccame @ale-git
As a [red team](https://en.wikipedia.org/wiki/Red_team), probably it would be better that the firmware group reproduces the experiment performed by @S-Dafarra, and then investigate the problem on-site

[2017-11-07 10:39] francesco-romano commented on #74
@valegagge @marcoaccame @ale-git
Any update on this?

[2017-11-07 12:50] S-Dafarra commented on #74
Here some log files.
I followed the following steps:
- Start the ``yarprobotinterface``
- Open the ``yarpmotorgui``
- Fault the robot
- Set ``Position`` mode from the ``yarpmotorgui`` to the ``l_hip_pitch`` joint
- Release the fault (the ``l_hip_pitch`` joint went in hardware fault)
- Closed the ``yarprobotinterface``

I exported both the entries in the ``yarplogger`` relative to the ``yarprobotin

[2017-11-08 09:34] randaz81 commented on #74
1. Only VOCAB_CM_FORCE_IDLE can exit from VOCAB_CM_HW_FAULT and go to VOCAB_CM_IDLE.
Yarpmotorgui does not currently provide any button to perform a VOCAB_CM_FORCE_IDLE on all joints. This was done for safety reasons, to ensure user to check the reason of the fault before continuing to use the robot. However, a new button can be added... (and, yes, I can change button label to FORCE_IDLE to avoid

[2017-11-08 13:15] ale-git commented on #74
The hardware fault should be solved in the latest release of the EMS and MC4plus firmware. The bug caused a hardware fault (motor boards in wrong control state) when a set control mode was sent to the boards while in external fault mode.

[2017-11-08 13:18] ale-git commented on #74
@randaz81 yes, the red button sets the robot in VOCAB_CM_IDLE, not in VOCAB_CM_HW_FAULT.

[2017-11-08 17:53] marcoaccame commented on #74
@ale-git has tested and released new FW for boards ems and mc4plus (versions v3.13 and v3.10 respectively) on the devel branch of icub-firmware-build. The FW solves the bug.

Please be sure to run the latest FW versions.

[2017-12-18 13:54] traversaro commented on #71
Other point where that relation is defined:
In the gazebo-yarp-plugins, see https://github.com/robotology/gazebo-yarp-plugins/blob/93644b645efc56ce124e65b80f64b92dcc1a7cdb/plugins/controlboard/src/ControlBoardDriverCoupling.cpp#L81 , it seems that the equation currently used by the firmware is used.
In the paper on the Gaze controller, instead, the wiki version has been used: see https://pdfs.sema

[2018-02-08 11:12] S-Dafarra opened #83 "The head and some arms joints cannot be restarted when pushing the fault button"
When pushing the fault on ``iCubGenova02`` or ``iCubGenova04`` some joints cannot run until a full reboot. In particular this happens all the time for the head joints and sometimes for the arms joints starting from the ``wrist_pronosup``.
Here a log
[log_icub-head_yarprobotinterface_10797.txt](https://github.com/robotology/icub-firmware/files/1706773/log_icub-head_yarprobotinterface_10797.txt)

[2018-02-08 11:13] S-Dafarra commented on #83
cc @gabrielenava @marcoaccame @valegagge

[2018-02-14 12:20] marcoaccame commented on #83
Hi @S-Dafarra, thanks for the notification. We looked at the problem straight away last week and we have already tested a solution on the green robot.

The source code is already committed (https://github.com/robotology/icub-firmware/commit/f3c3b94470eceecffbdc9b4e81b93e1222837e39) and the binary will be committed within the week. We are in the process of merging devel in master and hence, we pref

[2018-02-14 12:24] S-Dafarra commented on #83
Thanks a lot!

[2018-02-14 15:13] marcoaccame commented on #83
tested on green icub. problem solved. required fw version of mc4plus >= v3.14. it already in icub-firmware-build release branch.

closing issue.

[2018-02-14 15:13] #83 closed

[2018-03-16 10:43] davidetome opened #84 "MC4PLUS - fake hardware fault and hard limit on hands joints"
If you run yarprobotinterface twice after boards power up you got an "hardware fault" error and an "hard limit reached"  error on hand joints.
If you power down and up the boards again everything works fine.

![screenshot from 2018-03-16 11-40-55](https://user-images.githubusercontent.com/6638215/37516598-f10ae7dc-290e-11e8-9279-c4e53c13ebd6.png)
![screenshot from 2018-03-16 11-41-07](https://user

[2019-06-11 15:28] ale-git opened #86 "More control input modes in 2FOC boards."
The purpose of this issue is to keep track of the icub-firmware parts touched by the improvements in the low level motor control. The new EMS board firmware will be able to exploit features already present in the 2FOC motor board. In particular, we'll be able to control the iCub motors by velocity and current closed control loops in addition to the pwm open loop now available.

https://github.com/

[2019-07-15 14:15] nunoguedelha opened #87 "Increase the PWM frequency in order to reduce the current ripple due to PWM modulation"
We suggest here an improvement for reducing the motor current ripples due to the PWM duty-cycle modulation.
The PWM ON/OFF phases result in a current oscillation which can reach 100mA amplitude, as initially analyzed and described in [this issue](https://github.com/dic-iit/element_torque-control-via-current/issues/61):

- The current ripples can be reduced by increasing the PWM frequency (above 20

[2019-07-22 09:30] nunoguedelha commented on #87
In order to proceed with the implementation we need to verify the following points:
- [ ] have we tried before to increase the PWM and/or the DMA interrupt task frequency to 40kHz?
- [ ] what is the maximum frequency available?
- [ ] where is this properly documented (datasheet, section,...)?
- [ ] I could find the datasheet of the dsPIC33FJ128MCX02 in the Microchip site [here](http://ww1.microchi

[2019-07-26 01:32] nunoguedelha commented on #87
@ale-git showed which parameter to set in the 2FOC code for changing the PWM frequency. I'm documenting here how it works and relates to the Motor Control PWM (MCPWM) settings described in  the manual http://ww1.microchip.com/downloads/en/DeviceDoc/70187E.pdf.

The MCPWM1 module is the one used for driving the motor. Its time base interrupts and output modes are configured through the registers Px

[2019-07-26 02:12] nunoguedelha commented on #87
## Setting the new PWM frequency

The new PWM frequency is set through the flag defined in `UserParms.h`:
[code]

## Issues and Fixes

- The function call `pwmInit(LOOPINTCY/2, DDEADTIME, (8*LOOPINTCY)/20 /*pwm max = 80%*/);` sets `PxTPER = LOOPINTCY/2`, but should set `PxTPER = LOOPINTCY/2-1`.
This issue could cause eventually a PWM offset.
- The half fullscale of the PWM
[code]
...  is hard-code

[2019-07-26 16:49] nunoguedelha commented on #87
Updated the expression of `Vq` and `Vd` since they are integers, and...

- for `Fpwm = 20 kHz`, `1000/PWM_50_DUTY_CYCLE = 1`
- for `Fpwm = 40 kHz`, `1000/PWM_50_DUTY_CYCLE = 2`

this way I'm sure not to have overflow or round issues.

[2019-07-26 16:59] nunoguedelha commented on #87
The proper way to do it, also from a performance point of view, would be to do it in the CAN parser `s_canIcubProtoParser_parse_pollingMsg` where `CtrlReferences.VqRef` is set. But this would impact the behaviour of the closed loop since it would change the ratio between the PWM delta (Kp*IqError) and the PWM open loop values.

The feed-forward component implementation in the control loop will avo

[2019-07-30 15:58] nunoguedelha commented on #86
Implemented in #88

[2019-07-30 15:58] #86 closed

[2019-08-02 15:19] nunoguedelha commented on #87
# Results

### Probed PWM voltage in one of the terminals (terminal 1 as done [here](https://github.com/dic-iit/element_torque-control-via-current/issues/62#issuecomment-494382216))
![interruptPWMfreq40kHz](https://user-images.githubusercontent.com/6848872/62375085-c4267d00-b53d-11e9-81d4-786a097c562e.png)
As we can see in the above diagram, the PWM period is $25 \\, \mu s \sim 40 kHz$ (channel 3)

[2019-08-05 11:29] nunoguedelha opened #89 "Analyze residual noise at zero phase current"
When we set off all the PWM input signals, i.e. all terminal to terminal voltages are null, we should measure a null current, but instead we get a noisy measurement with a peak to peak amplitude of ~160mA and a quantization of ~20mA.
We need to check if this resolution and noise level is normal with respect to the expected performance of the current sensing module: hardware characteristics and con

[2019-08-05 13:21] nunoguedelha commented on #89
The experiment was done using an `icub-firmware` debug build logging the phase currents `qIa` or `qIc`.

The debug build can be found in the [`icub-firmware-build` repo, branch `issue/#89_phase-current-noise`, file `CAN/2foc/2foc.hex`](https://github.com/robotology/icub-firmware-build/blob/issue/%2389_phase-current-noise/CAN/2foc/2foc.hex).

The used branch can be found in the fork repo `https://g

[2019-08-05 14:00] nunoguedelha commented on #89
# Check the Hall Effect current sensor connection and datasheet

- 2FOC logic schematics: https://svn.robotology.eu/repos/iCubHardware/trunk/electronics/private/P2009_05_2FOC/Documentation/Presentations/2FOC%20-%20EN.pdf
### ACS714 connection (page 6)
![ACS714connection](https://user-images.githubusercontent.com/6848872/62468891-6ab98a80-b797-11e9-81c9-8e8fd92a4732.png)
(This can be helpful if we

[2019-08-05 14:41] nunoguedelha commented on #89
# Check ADC module configuration

- The ADC module configuration can be found in the [ADC manual, section 16 of the 2FOC manual](https://svn.robotology.eu/repos/iCubHardware/trunk/electronics/private/P2009_05_2FOC/Datasheets/dsPIC33/Section%2016.%2010-12-bit%20ADC%20with%20DMA%20-%20dsPIC33F%20FRM.pdf), Register 16-2: ADxCON2: ADCx Control Register 2.

In the 2FOC controller code ( `ADCConfigPWMan

[2019-08-05 14:49] nunoguedelha commented on #89
CC @marcoaccame @DanielePucci

[2019-08-05 19:04] claudiolorini commented on #89
As far as i can tell, the noise level you experiencing are 'normal' and intrinsic in the technology of the sensor (hes). This kind of noise (as far as it ha a 0 mean value) does not have relevant effect on the torque output but only audible effect.
I'd rather be more concerned of the non zero mean value that is generated by the ACS714-20 when there is a temperature change. This effect cannot be re

[2019-08-07 00:29] nunoguedelha commented on #87
Implemented in https://github.com/robotology/icub-firmware/pull/90.

[2019-08-08 09:16] nunoguedelha commented on #89
Thanks @claudiolorini for the details.
### Regarding the intrinsic noise...
indeed, as a side note, the [ACS0714 datasheet](https://svn.robotology.eu/repos/iCubHardware/trunk/electronics/private/P2009_05_2FOC/Datasheets/CurrentSense/ACS0714.pdf)(page 6) mentions a sensitivity of 100mV/A and peak-to-peak noise of 11mV for an Optimized Accuracy Range Ip = 20A, which implies a peak-to-peak noise of 1

[2019-08-08 13:08] ale-git commented on #89
@nunoguedelha Giorgio Zini explained to me that with a sensitivity of 100 mV/A, reduced to 65.8 mV/A by the voltge divider made by R29, R30 and R103 resistors, and 3.3 V power supply, 10 bit converter, the LSB of the converter corresponds to 3.3 V / 1024 = 3.22 mV. Dividing by the sensitivity we obtain the current quantization that corresponds to the LSB: 3.22 mV / 65.8 mV/A = 50 mA of intrinsic e

[2019-08-08 14:31] marcoaccame commented on #9
done. see folder emBODY\eBdocs\arch-arm

[2019-08-08 14:31] #9 closed

[2019-08-08 14:33] marcoaccame commented on #15
completed long ago

[2019-08-08 14:33] #15 closed

[2019-08-08 14:35] #12 closed

[2019-08-08 14:36] marcoaccame commented on #39
implemented in icub-firmware-build\scripts

[2019-08-08 14:36] #39 closed

[2019-08-08 14:39] marcoaccame commented on #87
the feature is in devel now

[2019-08-08 14:39] #87 closed

[2019-08-08 14:45] #13 closed

[2019-08-08 14:49] #74 closed

[2019-08-08 14:50] marcoaccame commented on #64
linked to issue #45

[2019-08-21 14:29] nunoguedelha commented on #89
https://github.com/robotology/icub-firmware/issues/89#issuecomment-519438808
### Regarding the intrinsic noise...

Ok @ale-git , but I think we shouldn't see such noise in the first place with the filtering of C28 and C29 capacitors.

Ciao @claudiolorini , the capacitors C28 and C29 are actually missing on the test board I'm using. Are we sure they are present in the 2FOC boards on the robot?

###

[2019-08-21 16:33] claudiolorini commented on #89
Boards in revision C does have the caps mounted:
"3336 . C - 2FOC, IIT - Electronic board with CAN interface, dual driver for brushless motors, power supply 18-48V, 20A"

Boards in revision F does not have the capacitors mounted:
"3336 . F - 2FOC, IIT - Electronic board with CAN interface, dual driver for brushless motors, power supply 18-48V, 20A full Band width, for iCub, new heatsink"
I suppose

[2019-08-21 17:28] nunoguedelha commented on #89
Ciao @fabrizio69, can you please confirm that on iCubGenova04 (Greeny) we are using the 2FOC revision F?

[2019-08-23 14:17] Gianlucamilani opened #92 "Correct the information on the Can-protocol official document"
In the pdf document TSD-ICUBUNIT-canprotocol-sensorboards, which describes the canprotocol used by icub and which is useful for us in the context of #81 , the information at page 116 about LSB-Z is missing and has to be added. The document is downloadable at the following [link](https://github.com/robotology/icub-firmware/blob/devel/emBODY/eBdocs/arch-arm/TSD-ICUBUNIT-canprotocol-sensorboards.docx

[2019-08-26 07:29] marcoaccame commented on #92
sure @Gianlucamilani: i will get to to today

[2019-08-26 16:45] nunoguedelha opened #93 "Using (int*) on non aligned addresses might be risky and sub-optimal"
In the 2FOC parser code:
https://github.com/robotology/icub-firmware/blob/65abce16fcf92cba0a4e4cbc534aa63cac13f975/emBODY/eBcode/arch-dspic/board/2foc/appl/2FOC-V3/src/can_icubProto_parser.c#L266

in the case of a current control command or velocity command, we are pointing directly unaligned memory with `(int*)`.

If I recall correctly, usually in this case the memory should be aligned with chunk

[2019-08-27 08:55] marcoaccame commented on #89
Hi @nunoguedelha, I have just checked w/ @davidetome  & @miche19:
iCubGenova04 and most recent iCubs use **revision F**.

[2019-08-27 13:17] nunoguedelha commented on #89
Thanks @marcoaccame ! Sorry I hadn't update the issue, @fabrizio69 had also confirmed this.

[2019-08-28 13:45] nunoguedelha commented on #93
Fixed by https://github.com/robotology/icub-firmware/pull/94.

[2019-08-28 14:55] nunoguedelha commented on #93
If you're all ok with that we can close the issue..

[2019-08-28 16:24] #93 closed

[2019-08-28 16:41] nunoguedelha commented on #89
As explaned by Giorgio Zini, the Ip current range depends on the model of the ACS714 IC, The one mounted on the 2FOC boards is the `ACS714LLCTR-20A-T`. A summary of the sensitivities depending on the models is given in the manual:
<img width="970" alt="Screen Shot 2019-08-28 at 18 39 37" src="https://user-images.githubusercontent.com/6848872/63875213-41210700-c9c3-11e9-9126-af1f5e47d6a8.png">
This

[2019-08-28 17:05] claudiolorini commented on #89
LLCTR-20A-T

[2019-08-29 09:47] nunoguedelha opened #95 "Robot interface startup after update of EMS, MC4PLUS and 2FOC builds to the latest devel"
After updating the firmware EMS, MC4PLUS and 2FOC builds to the latest devel commit https://github.com/robotology/icub-firmware-build/commit/46d3f477b566be0b01d34409987e5d259abe36bb, the Robot interface startup fails. There is no ERROR message, only WARNINGS like the following:
[code]
These are with respect to the MC4PLUS boards startup. For instance, for the MC4PLUS at IP 29 we get the following

[2019-08-29 09:50] nunoguedelha commented on #95
@ale-git can you help me on this? Have the latest EMS, MC4PLUS and 2FOC builds been tested on any robot?

[2019-08-29 10:01] nunoguedelha commented on #95
@marcoaccame since you're more familiar with this kind of issue, could you give us a hand?

[2019-08-29 10:18] nunoguedelha commented on #95
I tried to start the interface from the terminal, and I get a Segmentation fault, so problem might be with the build or some plugin, and **not the Firmware**. I'll let you know.

[2019-08-29 11:22] nunoguedelha commented on #95
CC @fjandrad

The startup is successful when using a startup script with everything activated **except the wholebody dynamics estimator and the following FT and VFT sensors blocks**:
[code]

As soon as I add the `ANALOG SENSOR FT` block alone, I get the segmentation fault:
[code]

[2019-08-29 13:36] nunoguedelha commented on #95
- If I just activate the `strain` boards, I get no issues.
- If I activate any `strain2`**(*)** board, I get the segmentation fault.

(*) For instance adding:
[code]
@ale-git , @marcoaccame was there any impact on the plugin `embObjFTsensor` in the EMS changes?

[2019-08-29 13:54] nunoguedelha commented on #95
...or is any update of the strain2 required?

[2019-08-29 14:59] nunoguedelha commented on #95
Here is a print of the core dump after the segmentation fault:
[code]

[2019-08-29 16:46] nunoguedelha commented on #95
As a workaround, I replaced all `hardware/FT/<part>-ebx-jx_x-strain2.xml` config files by `hardware/FT/<part>-ebx-jx_x-strain.xml`, thus selecting the old device `embObjStrain` instead of `embObjFTsensor`. The later is causing the observed issue.

[2019-08-29 17:13] nunoguedelha commented on #95
This issue prevents to use the temperature measurements from the FTs.

[2019-08-29 20:31] traversaro commented on #95
I think @fjandrad had a similar problem.

[2019-08-30 11:59] nunoguedelha commented on #95
Indeed he told me so, and suggested the workaround.

[2019-08-30 17:55] nunoguedelha opened #96 "Define, implement and test a calibration procedure for setting the required PWM offsets"
After analysis in https://github.com/dic-iit/element_torque-control-via-current/issues/59, we concluded that the motor quadratic current oscillations depending on the rotor position were due to the current offsets measured on the stator terminals (phases), while the digital PWM values computed by the inverse Clark-Park transform have no offsets, and are phase shifted by 120 degrees as expected. Th

[2019-09-02 09:45] valegagge commented on #95
Hi @nunoguedelha ,
I fixed the bug you reported in the embObjFT device. Please see [this commit](https://github.com/robotology/icub-main/commit/bb055cddc4868fc54f67b2e1f7beca2b3f384ea0) .

So please update the icub-main repository and let me know if you notice the issue again.

Some more details: the crash was due to an access to an empty pointer, because  yarp::dev::DriversHelper::load() function

[2019-09-02 10:31] nunoguedelha commented on #95
If I understood well, the call to `enableTemperatureTransmission(false);` in:
https://github.com/robotology/icub-main/blob/bb055cddc4868fc54f67b2e1f7beca2b3f384ea0/src/libraries/icubmod/embObjFTsensor/embObjFTsensor.cpp#L207
should disable the temperature transmission.

I think we are missing an error use case in (https://github.com/robotology/icub-main/blob/bb055cddc4868fc54f67b2e1f7beca2b3f384ea

[2019-09-02 10:36] nunoguedelha commented on #95
BTW I suggest we move this issue to `icub-main`.

[2019-09-02 16:22] nunoguedelha commented on #96
@ale-git @marcoaccame

[2019-09-03 09:38] ale-git commented on #96
@nunoguedelha I tried to compensate both A and C PWMs with a single calibration, but it didn't work, probably because of the mutual influence. So I think that the separate calibration that you propose is more promising. It is easy to separate the double calibration of the test firmware in two single calibrations.

[2019-09-03 09:39] ale-git commented on #96
@nunoguedelha let's discuss it in the afternoon as planned.

[2019-09-03 10:02] nunoguedelha commented on #96
Thanks @ale-git . I won't be able to come to IIT, but we can chat on skype or telegram as you prefer.

[2019-09-03 14:15] nunoguedelha opened #98 "Implement in the 2FOC a filter for rejecting the current ripple due to the PWM voltage feeding the motor phases"
This results from the analysis described in https://github.com/dic-iit/element_torque-control-via-current/issues/20 and https://github.com/dic-iit/element_torque-control-via-current/issues/61.
A filter should implement a filter at low level (at best in the current controller running on the 2FOC, for rejecting the current ripple due to the PWM voltage feeding the motor phases. The "ripples" main fr

[2019-09-06 06:48] ale-git commented on #96
@nunoguedelha @marcoaccame

I implemented a PWM calibration procedure (step 2 in the following calibrations list):

step 1) current calibration (as usual): with PWM off the current on phases A and C is measured as the average of 1000 readings and the values are used as current offset.

step 2) with C phase "disconnected" (transistors off) and B phase 50%, A is adjusted until Ia = 0 current is meas

[2019-10-31 21:06] valegagge opened #102 "bug in transmission function of CAN driver (Strain2)"
While I was managing this [issue](https://github.com/robotology/icub-tech-support/issues/854) , I understood that **the driver CAN on strain2 has a bug**. I noticed that in `embot :: hw :: can :: transmit` IRQ protection is missing: both task and CAN IRQ handler can access to transmission queue at same time.

Therefore, it is important to update such function in order to avoid the race condition.

[2019-11-13 22:07] DanielePucci commented on #102
Hi @valegagge by chance any update on this?

[2019-11-18 07:50] valegagge commented on #102
Hi @DanielePucci ,
I notified @marcoaccame about this fix.

I already studied one possible solution and asap @marcoaccame and I will work on this issue.

[2019-11-22 09:03] marcoaccame commented on #102
Hi, here are some updates.

## step 1: define the job
- we are going to use a branch in robotology/icub-firmware with the fix to the can driver
- i will build a test to force a situation which makes a CAN board crash so that we can verify the fix

**DoD**
- by launching the test the board crashes before the fix  and it does not crash after.
- do a proper fw release of all CAN boards

## step 2: th

[2019-11-26 13:02] marcoaccame commented on #102
I have found a way to reproduce the bug systematically:

- i compile with -O0 optimization,
- i run a stress test with a .cspsl file which sends a great amount of CAN messages.

yes, the problem is a concurrent access to the tx fifo from the user thread and the IRQ Handler.
I have already tested a solution, which i will soon push into robotology/icub-firmware, devel branch.

[2019-11-26 13:05] S-Dafarra commented on #102
That's great!

[2019-11-26 13:15] marcoaccame commented on #102
Hi @S-Dafarra, i will give you a binary to test on the robot by today

[2019-11-26 13:26] S-Dafarra commented on #102
Currently, we are using a firmware version with some developments by @nunoguedelha. One of the things that changed is that all the gains are set to positive. Thus, before testing, we need also to change the ``robots-configuration`` branch.

[2019-11-26 13:49] marcoaccame commented on #102
hi @S-Dafarra, you just need to update the FW of the `strain2` according to https://github.com/robotology/icub-firmware-build/commit/335ddc0e47b723c278905f84b30d8d1e822ea756

the developments done by @nunoguedelha affects only the `ems` and `mc4plus` boards and can safely coexist with the new `strain2` version.

[2019-11-26 13:51] S-Dafarra commented on #102
Right, I forgot. Thanks!

[2019-11-28 09:51] S-Dafarra commented on #102
Today I flashed the FW. I just ran the robot once to check that everything was ok and it started with no errors. We will exploit future tests on the robot to check if the problem have been definitively solved. Thank you.

[2019-11-29 23:48] marcoaccame commented on #102
Closing issue.

[2019-11-29 23:48] #102 closed

[2019-11-29 23:50] marcoaccame commented on #92
Corrected

[2019-11-29 23:50] #92 closed

[2019-12-05 22:44] pattacini opened #104 "Avoid glitch while switching control mode"
From https://github.com/icub-tech-iit/task-force-miscellanea/issues/6#issuecomment-561711268

cc @traversaro @xEnVrE @marcoaccame

[2019-12-05 23:53] traversaro commented on #104
cc @GiulioRomualdi @S-Dafarra

[2019-12-05 23:54] traversaro commented on #104
According to @S-Dafarra , this could explain the oscillations at second 34 of this video: https://www.youtube.com/watch?v=33F2G5mYiHY&feature=youtu.be&t=33 .

[2020-02-07 09:15] valegagge opened #105 "2FOC quadrature encoder error"
On icubV3 I experienced of following error when running `yarprobotinterface`:

[code]

when I relauched `yarprobotinterface` I get following errors:
[code]

As the logs reported, the encoder in error changes almost every run of `yarprobotinterface`.

I already had a chat f2f with @ale-git, who suspect a wrong configuration of encoder filters.

I started to notice this error when I update the last

[2020-03-02 15:43] vtikha commented on #105
Is it possible to have an update or look at this issue as we cannot use iCub3 and therefore cannot go on with our work.

cc @ale-git

[2020-03-02 16:10] ale-git commented on #105
I'll take a look tomorrow.

[2020-03-03 15:26] ale-git commented on #105
The AEA sensor of joint 2 (yaw) of the right arm is not working for sure, probably the sensor must be replaced.

About the QE error I can't understand yet what's going on.
@valegagge can you please detail the firmware updates at the origin of the problem? Did you update the 2FOC firmware?

[2020-03-03 19:24] valegagge commented on #105
@ale-git
I'm not totally sure but the error on AEA is not more present,  but the QE problem continues occur.

We experienced of this error after I updated the all firmware on the robot, 2FOC included.
From the image I reported before you can see the version of new firmware of 2foc, but I'm sorry I haven't the previous version.

When we had a f2f chat, you told me that the issue could be about some

[2020-03-03 20:39] ale-git commented on #105
Hi @valegagge the AEA error comes and goes, but it is present for the most part. The encoder error is present at calibration time but after you force idle all the joints work fine, it's not persistent. There must be a reason for it anyway, but yet I can't figure out why.

[2020-03-09 09:32] valegagge commented on #105
Hi @ale-git ,
in the last week I did some tests on robot and I noticed that the problem I reported happen when launch `yarprobotinterface` after switched on the motors. So if you follow this procedure you can experice of same errors:

1. switch on motors
2. launch yarprobotinterface
3. you get one or more joint in error: `MC: 2FOC quadrature encoder phase broken. The motor encoder is not counting

[2020-03-18 08:01] kouroshD opened #111 "Provide documentation about icub fingers coupling mechanism"
I am trying to understand how the coupling of the fingers are handled in the firmware, but I was not able to find the related part in the repo's code. Please if possible, point out to the part of code that handles the decoupling of measures related to the iCub hand and fingers.
In case, there is a documentation on that, please let us know.

cc @pattacini @traversaro  @S-Dafarra

[2020-03-18 08:28] pattacini commented on #111
I don't know about the FW and/or the intermediate YARP layer responsible for streaming out the motor and joint encoders but, in any case, the method [`iCub::iKin::iCubFinger::getChainJoints()`][1] contains a possible replica of the code required for dealing with the coupling/decoupling.

In fact, the goal is to take as input the motor and/or the joint encoders (received respectively from the state

[2020-04-08 14:40] kouroshD opened #114 "Locate the coupling matrix between finger joints and motors values"
There is a time invariant linear mapping from the motor values to the joint values of the iCub fingers as following:
$$
S_{hand}= A M_{hand}
$$
Where $S_{hand}$ and $M_{hand}$ are the vector of joint values and motor values at each moment, and $A$ is the fixed mapping when there is not any contact.
My questions are:
- If somewhere in firmware we compute $A$ matrix?
- If somewhere $A$ matrix has be

[2020-04-08 14:50] GiulioRomualdi commented on #114
Hi @kouroshD I found [this coupling](https://github.com/robotology/robots-configuration/blob/be62f5e8268c6c90c027290bc09c735ca00286fa/iCubGenova04/hardware/mechanicals/left_arm-eb26-j12_15-mec.xml#L32-L51) in the configuration file.

[2020-04-09 14:18] kouroshD commented on #114
@GiulioRomualdi  Thank you for the links, they were interesting. However, as far as I see the values inside the matrices does not coincide with the description of mechanical coupling of the hand according to this paper: [A. Schmitz, U. Pattacini, et.al., "Design, Realization and Sensorization of the Dexterous iCub Hand"](https://ieeexplore.ieee.org/abstract/document/5686825)

[2020-06-08 14:58] dariopasquali opened #115 "On iCubGenova07 restarting yarprobotinterface causes fake hardware fault and hard limit on hands joints"
We have the same issue reported in #84 on our iCubGenova07.

If we restart the yarprobotinterface it rises several fake errors related to right and left hands joints (j8_11 and j12_15). Powering up and down the board everything starts fine.

I attach a yarprobotinterface log.
[log_icub-head_yarprobotinterface_1401.log](https://github.com/robotology/icub-firmware/files/4746734/log_icub-head_yarprob

[2020-06-17 08:07] maggia80 commented on #115
cc: @marcoaccame

[2020-08-07 09:43] davidetome opened #121 "Import FW sources for BDC BCB BAT boards"
## Task description
Import/migrate the firmware sources for ``bdc`` and ``bcb`` boards from :

- https://github.com/icub-tech-iit/electronics/tree/master/projects/boards/P2013_09_BDC/sw/BDC
- https://github.com/icub-tech-iit/electronics/tree/master/projects/boards/P2013_03_BCB/sw/BCB
- https://github.com/icub-tech-iit/electronics/tree/master/projects/boards/P2015_06_BAT/sw/BAT

## Definition of Do

[2020-08-07 09:46] davidetome opened #122 "Modify FW for ETH boards to work with a different net mask"
## Task description
Modify ETH boards firmware to work with a configurable IP address for ``FirmwareUpdater`` / `yarprobotinterface`

## Definition of Done
Mods are tested

cc @marcoaccame

[2020-08-19 11:25] dariopasquali commented on #115
Any news about this?

[2020-08-20 08:06] davidetome commented on #121
see PR https://github.com/robotology/icub-firmware/pull/125

[2020-08-20 08:06] #121 closed

[2020-08-21 08:30] MrAndrea commented on #121
Ciao @davidetome,
there are 2 firmware for the 2 revision of the BAT board, since they have different microcontroller.
For the first and obsolete revision, the firmware is in:
https://github.com/icub-tech-iit/electronics/tree/master/projects/boards/P2015_06_BAT/sw/BAT

For the latest board revision (iitcode 10050.C), the firmware is in:
https://github.com/icub-tech-iit/electronics/tree/master/proj

[2020-08-25 08:50] davidetome commented on #121
@MrAndrea I moved also the `BAT Rev B` folder, please take a look at the [PR](https://github.com/icub-tech-iit/electronics/pull/45) and use `squash and merge`  instead `merge` as pointed out by @pattacini

[2020-08-25 08:54] pattacini commented on #121
https://cloudfour.com/thinks/squashing-your-pull-requests/

[2020-12-15 12:41] giovannipizzolante opened #152 "Fix building problem - MPLAB"
When building the 2FOC.V3 project, the following error appears:

```../src/ecan.c:827:37: error: conflicting types for 'int8_t'```

 It is a problem related to the new compiler version. The old version contains this line:

https://github.com/robotology/icub-firmware/blob/b6c0a716bb75105fd1d62cfce6ae05c7d649df9b/emBODY/eBcode/arch-dspic/board/2foc/appl/2FOC-V3/src/ecan.c#L827

that causes that erro

[2020-12-15 13:11] GiulioRomualdi commented on #152
cc @marcoaccame @traversaro @isorrentino @nunoguedelha

[2020-12-15 14:18] traversaro commented on #152
Which version of MPLAB are you using? Did you use the projects in the icub-firmware directly or you modified them in someway?

The problem seems due to the fact that there are two definitions of `int8_t`, and probably due to a newer version of the compiler/standard library the definition of `int8_t` changed from `char` to `signed char`, but the problem is that that typedef should not be there. Sin

[2020-12-15 14:35] isorrentino commented on #152
I just cloned the repo, imported the project in MPLAB and tried to compile it.

- Product Version: MPLAB X IDE v5.40
- Compiler version: MPLAB XC16 Compiler v1.50

[2020-12-15 14:46] traversaro commented on #152
Probably it make sense for reproducibility to mention somewhere in this repo or in https://github.com/robotology/icub-firmware-build which version of the MPLAB IDE/Compiler is used to generate the firmware. cc @marcoaccame @Nicogene @davidetome @ale-git

[2020-12-15 16:17] davidetome commented on #122
The mods are done, see the PRs below :

- https://github.com/robotology/icub-firmware-shared/pull/41
- https://github.com/robotology/icub-firmware-build/pull/18
-
cc @pattacini @marcoaccame

[2020-12-15 16:17] #122 closed

[2020-12-18 08:47] marcoaccame commented on #152
the correct place where to put the compiler version used to generate the binary is in the log of the binary itself.
that already contains some basic info about how to reproduce the same binary, see [here](https://github.com/robotology/icub-firmware-build/commit/46d3f477b566be0b01d34409987e5d259abe36bb), and we could also add the version of the toolchain.

[2021-01-28 15:02] GiulioRomualdi opened #160 "Add the possibility pass the root of robots-configuration in FirmwareUpdater.script.info.all.sh"
`FirmwareUpdater.script.info.all.sh` searches for `robots-configuration` folder inside `$ROBOT_CODE` i.e.

[code]

We usually install `robots-configuration` as part of the superbuild, so our path is `$ROBOTOLOGY_SUPERBUILD_DIR/src/robots-configuration`. It would be nice to pass the root of robots configuration as parameter to the `sh` script.

[2021-01-28 15:07] GiulioRomualdi commented on #160
I just noticed that I should open it in icub-firmware-build.

[2021-01-28 16:01] traversaro commented on #160
Note that

Note that since iCubWaterloo01/SN44, the iCubs that come out from the "production" also use the superbuild, so this is a problem that affects also those robots.

[2021-01-28 20:39] isorrentino commented on #152
The PR has been merged. Closing.

[2021-01-28 22:40] giovannipizzolante commented on #152
Sure @isorrentino . Closing the issue

[2021-01-28 22:40] #152 closed

[2021-01-29 16:20] GiulioRomualdi commented on #160
If you tell me what you prefer I can open a PR. Should I close this issue and open a new one in icub-firmware-build?

[2021-01-29 20:41] traversaro commented on #160
I transferred the issue there.

[2021-01-30 18:01] isorrentino opened #161 "Find documentation on steps needed to build and flash motor boards (EMS, 2FOC)"
[UPDATED]
I changed the title of the issue as this issue will include the issues @giulioromualdi and I experienced in testing a new firmware version. Basically, we needed to test this PR https://github.com/robotology/icub-firmware/pull/159 and @marcoaccame suggested me to build the code and then flash it on the boards and to avoid flashing the already compiled files uploaded in https://github.com/

[2021-02-01 08:30] GiulioRomualdi opened #162 "2FOC firmware does not compile on linux"
MPLAB is well supported on Linux, however, If I try to compile the 2FOC firmware on Ubuntu I get the following error:
[code]

Long story short, some includes start with capital while file name starts with lowercase character.  I already fixed the bug updating the includes In https://github.com/GiulioRomualdi/icub-firmware/tree/fix_linux_compilation

cc @isorrentino @traversaro @marcoaccame

[2021-02-01 09:03] GiulioRomualdi opened #164 "Discuss the possibility to automatic build the 2FOC firmware with GitHub Action"
This issue follows https://github.com/robotology/icub-firmware/pull/159#issuecomment-770118302.

**Disclaimer: What I'm presenting here is related to the 2FOC firmware, I don't know if it can be extended to the firmware of other boards**

Even if the code of `icub-firmware` is updated, the new version firmware in `icub-firmware-build` has to be manually pushed, this _manual_ operation can be borin

[2021-02-01 10:48] pattacini commented on #164
Hi @GiulioRomualdi

Thanks for opening this discussion 👍🏻

Your proposal is very appealing, indeed, and we have it already as an important point on our roadmap 💹
The roadmap foresees a change of our whole toolchain ⚙ to head toward more open and more flexible methods that will in turn integrate tightly with the GitHub actions stack.

@marcoaccame is already working out alternative toolchains with

[2021-02-01 11:17] traversaro commented on #164
Note that two important aspects that to enable GitHub Actions enabled build are:
* Support headless (i.e. from command line) installation of the build
* Support headless (i.e. from command line) compilation of the firmware

[2021-02-01 11:22] pattacini commented on #164
Putting @Nicogene in the loop as he was interested in this as well.

[2021-02-01 11:32] traversaro commented on #161
@isorrentino if there is already some material already available in that issue, I think the first step could be to copy it here so that anyone interested can clean it up and add it to the docs.

[2021-02-01 11:41] isorrentino commented on #161
## Comments from https://github.com/dic-iit/lab-organisation/issues/148

- ### Nuno's comments
We are installing the development environment for the EMS board (ARM) from `Keil`, on Windows on the Monster machine.
Online link to the app: https://www.keil.com/demo/eval/arm.htm
Setup file location: `C:\Users\icub\Documents\ProgramInstallFiles\mdk528a.exe`
Install folder: `C:\Keil_v5`

How-to for the

[2021-02-01 12:13] GiulioRomualdi commented on #164
Hi @traversaro it's possible to compile the firmware of the 2foc from the terminal (Linux)
I tried on my laptop
Please check here: https://github.com/velocitek/ghactions-mplabx/blob/c59aac181bc581925b0d34ed218fd89527edfa6f/build.sh#L7-L8

[2021-02-01 12:33] traversaro commented on #164
And from the same repo also the first condition seems to be satisfied: https://github.com/velocitek/ghactions-mplabx/blob/c59aac181bc581925b0d34ed218fd89527edfa6f/Dockerfile#L3 .

[2021-02-02 08:27] GiulioRomualdi commented on #162
https://github.com/robotology/icub-firmware/pull/163 merged

[2021-02-02 08:27] #162 closed

[2021-02-06 08:33] isorrentino commented on #161
### Content of https://github.com/dic-iit/element_torque-control-via-current/issues/126#issuecomment-658288727

#### Steps I followed to configure MPLAB and the compiler

[2021-02-06 08:39] isorrentino commented on #161
I modified the title of the issue and I summarized the aim in the first comment https://github.com/robotology/icub-firmware/issues/161#issue-797494427.

cc @traversaro @pattacini @maggia80 @marcoaccame @ale-git @DanielePucci @giulioromualdi

[2021-02-07 08:45] pattacini commented on #161
Thanks @isorrentino for this contribution!

I believe we would should integrate this material into our official documentation at https://icub-tech-iit.github.io/documentation.

cc @marcoaccame

[2021-02-08 13:43] isorrentino opened #165 "Understand why current shown on power supply and robot displays is different from the current read through WBToolbox"
Hi all, I do not know if this is where this issue had to be opened. Here the problem.

While checking the current of the `left ankle roll motor` with @MrAndrea and @giulioromualdi after https://github.com/robotology/icub-tech-support/issues/1070, we noticed that the total current required by the robot shown on the power supply display and the robot display was lower than the current read by using

[2021-02-08 13:54] S-Dafarra commented on #165
Regarding the difference, this comment by @maggia80 might be relevant: https://github.com/icub-tech-iit/task-force-miscellanea/issues/58#issuecomment-738343085

This is the code that reads the currents in ``WBToolbox``: https://github.com/robotology/wb-toolbox/blob/99156c73c6b651502317722dc908ba7a9ba5f4ce/toolbox/library/src/GetMeasurement.cpp#L314-L320

[2021-02-08 14:04] ale-git commented on #165
Yes, exactly.

[2021-02-08 14:05] isorrentino commented on #165
Great. So, if the comment https://github.com/icub-tech-iit/task-force-miscellanea/issues/58#issuecomment-738343085 explains the behaviour we can also close this issue. Do you agree?

[2021-02-08 14:43] pattacini commented on #165
Closing, feel free to open it up again if needed.

[2021-02-08 14:43] #165 closed

[2021-02-12 09:35] traversaro commented on #161
fyi @AlexAntn

[2021-02-12 09:43] pattacini commented on #161
We will be dealing with this next sprint.

[2021-02-22 18:03] marcoaccame opened #172 "Revision of the development toolchain for ARM-based boards"
The toolchain used for the development of the embedded software for the ARM-based boards is at the moment based on the following tools:

- The creation of a low level HW driver is done by means of `CUBE-MX` by STMicroelectronics. We use MPUs only by STM and the use of this tools is straightforward.
- The IDE and compiler is the `Keil MDK ARM`. With this one we manage projects which organize the re

[2021-02-25 20:40] traversaro commented on #161
Related PR: https://github.com/icub-tech-iit/documentation/pull/90 . cc @AlexAntn @isorrentino

[2021-02-26 12:24] pattacini commented on #161
Documentation ready at See https://icub-tech-iit.github.io/documentation/icub_firmware/fw_toolchain ✔

[2021-02-27 17:19] pattacini commented on #161
Closing, feel free to open it up again if needed.

[2021-02-27 17:19] #161 closed

[2021-03-02 08:38] maggia80 commented on #172
cc: @pattacini @traversaro @vtikha

[2021-03-02 08:57] marcoaccame opened #174 "Analysis of FW of mc4plus to solve board's disappearance from the ETH network"
Following issue in [here](https://github.com/robotology/icub-tech-support/issues/673), we have identified a critical behaviour that should be investigated and solved:  some `mc4plus` boards disappears from the ETH network when running `yarprobotinterface`.

What happens is that an `mc4plus` board which offers the motion control service may stop transmitting and receiving UDP frames. The board main

[2021-03-02 09:41] marcoaccame commented on #174
An idea for the simplified setup is:
- a linux pc which communicates via ETH to an mc4plus / ems board by sending UDP frames which simulates the **repeated** activation / deactivation of the motion control service (and also others) in the same way as `yarprobotinterface` does.
- an mc4plus / ems board with attached a ULINK Pro debugger.
- presence of sensors and actuators possibly simulated.

[2021-03-02 11:33] maggia80 commented on #172
https://medium.com/@lixis630/getting-started-to-code-embedded-c-on-stm32-e90e7910b2c

[2021-03-02 13:53] GiulioRomualdi commented on #172
@isorrentino

[2021-03-03 13:56] marcoaccame commented on #174
Here are some news: **I can now systematically reproduce the bug on a dedicated setup**.

I have prepared the simplified setup which is able to run  4 possible tests: either the `FT service` or the `MC service` on either the `ems` or the `mc4plus`.

For  the `FT service` I have used a true FT sensor on CAN1 (the `strain2`), whereas for the `MC service` I have just emulated sensors and did not use

[2021-03-04 11:49] marcoaccame commented on #174
Yesterday, I did some further tests w/ different optimization levels.

With a reduced optimization level I spotted a diagnostic message over the trace port which tells about a failure of memory allocation. I will now look at possible causes.

[2021-03-05 13:46] marcoaccame commented on #174
I think that I found the problem. There is surely memory erosion due to reallocation of RAM at each start of the iteration (and hence at every relaunch of `yarprobotinterface`). Details will follow in a separate comment.

I am now extensively testing a solution which has already proven to successfully run 100+ cycles of `MC service` on the `mc4plus` board of my setup.

My goal is to issue a `mc4pl

[2021-03-05 14:24] S-Dafarra commented on #174
Is it something that may happen also without restarting the ``yarprobotinterface``? I think that usually we run the ``yarprobotinterface`` only 3 or 4 times without rebooting also the motors.

[2021-03-05 16:31] marcoaccame commented on #174
it may. In https://github.com/robotology/icub-firmware/issues/174#issuecomment-789731108 I wrote: `it does not reply to ping after a few cycles`. I don't exactly recall now how many cycles they were, but 3 / 4 seems possible to me.

[2021-03-05 16:35] marcoaccame commented on #174
It would be interesting to see what happens if you manually restart `yarprobotinterface` several times w/out shutting motors' power off in between. Let's say: 10 time in a row. Does the problem happens? Can anybody test that next week?

[2021-03-05 16:47] S-Dafarra commented on #174
I can give it a try

[2021-03-08 17:36] S-Dafarra commented on #174
I just tried running the ``yarprobotinterface`` many times in a row, and the limit I reached was 5. At the 5th reboot the robot did not start with the error
[code]
I don't know if it is related. I tried to reboot the motors, run it for 4 times, and the 5th again the same error.
Here a screenshot of the ``FirmwareUpdater``
![image](https://user-images.githubusercontent.com/18591940/110358662-f3b43a

[2021-03-08 18:05] marcoaccame commented on #174
Very good. It is as I expected. From `FirmwareUpdater` I can see many boards missing, not only the 10.0.1.5, which is an `ems`.

[2021-03-10 07:43] maggia80 commented on #172
interesting overview [stm32-stm8_embedded_software_solutions.pdf](https://github.com/robotology/icub-firmware/files/6114112/stm32-stm8_embedded_software_solutions.pdf)

[2021-03-10 14:00] marcoaccame commented on #174
Hi @S-Dafarra,

I have produced two binaries for the `ems` and the `mc4plus` which I would like to test on iCubGenova04:

[ems-test-v103.36.zip](https://github.com/robotology/icub-firmware/files/6116344/ems-test-v103.36.zip)
[mc4plus-test-v103.29.zip](https://github.com/robotology/icub-firmware/files/6116348/mc4plus-test-v103.29.zip)

They are compatible w/ the latest devel / master release.

[2021-03-10 14:36] marcoaccame commented on #174
@S-Dafarra, I will be in the lab next week. In the meantime I will document the changes.

[2021-03-10 14:40] S-Dafarra commented on #174
Sounds good. Indeed, since the problem on the wrists might be difficult to check, I think it would be definitely worthwhile to proceed anyway. Then, with time we can check if the wrist problem appears again.

[2021-03-10 15:01] marcoaccame commented on #174
I am sure that the changes I have done solve some problems (the ones verified on my setup) and we can surely add into robotology. However, before approving the PR it is our habit to test it on the robot. I will have a go at it next week. Maybe we can do it together so that we test in the same way the robot if effectively used.

[2021-03-11 10:03] marcoaccame commented on #174
Hi, [here](https://github.com/marcoaccame/icub-firmware/tree/fix/multiplestartofmc) is the code used to compile the two test binaries of https://github.com/robotology/icub-firmware/issues/174#issuecomment-795451305

[2021-03-11 10:22] marcoaccame commented on #174
What happened?

- multiple starts and stops of `yarprobotinterface` asking the MC service to the boards caused a fatal error in the `mc4plus` and `ems` boards for multiple reasons:
  - on the `mc4plus` because:  function `hal_quadencoder_init_indexes_flags()` was called without checking if the associated IRQ Handler was inactive (as it must be) before configuration of HW peripherals which the IRQ

[2021-03-22 15:29] pattacini opened #175 "Adapt encoder fault detection heuristics to iCub 3"
As per the title and to track down the activities required to address comments in https://github.com/robotology/icub-tech-support/issues/1072#issuecomment-804123161 and afterward.

cc @ale-git @marcoaccame @S-Dafarra

[2021-03-22 17:43] marcoaccame commented on #174
**Results of the tests of iCubGenova04: OK**

Did extensive tests on iCubGenova04 during the the whole day of 19 mar 2021. Used binaries for `ems` and `mc4plus` complied w/ the option `SPIENC_DEINIT_DEALLOCATE_HEAP` enabled.

Launched `yarprobotinterface --config icub_wbd.xml` and then stopped it for > 20 times. Left the robot running at least a couple of times for > 30 minutes.

The boards did no

[2021-03-22 17:48] marcoaccame commented on #174
What now:
rebased the fork in https://github.com/marcoaccame/icub-firmware/tree/fix/multiplestartofmc vs latest release of https://github.com/robotology/icub-firmware/tree/devel which has evolved so far and updated the application versions of `ems`, `mc4plus`, `mc2plus` for the PR.

It may be worth a new quick test on the robot.

[2021-03-22 17:48] pattacini commented on #174
Nice @marcoaccame 👍🏻
Consider that we're quickly approaching a deadline for a new distro.

cc @Nicogene

[2021-03-25 11:51] marcoaccame commented on #174
Tested once more on 24 mar 2021 after the rebase of icub-firmware, rebuilt the binaries to be sure the binaries in [here](https://github.com/robotology/icub-firmware-build/pull/25) were correct

The tests were OK, hence I merged the two PRs: https://github.com/robotology/icub-firmware-build/pull/25 and https://github.com/robotology/icub-firmware/pull/176

cc: @pattacini @maggia80

[2021-03-25 12:25] pattacini commented on #174
Thanks @marcoaccame !

Closing, feel free to open it up again if needed.

[2021-04-01 13:50] marcoaccame commented on #174
reopened following https://github.com/robotology/icub-tech-support/issues/673#issuecomment-811814586

[2021-04-07 15:57] marcoaccame commented on #174
Tested a mechanism which does the following:
- whenever the `mc4plus` enters in the handler of a fatal error, it writes some info in a log area placed in permanent RAM and then forces a restart
- if the mc4plus at startup finds any info in a log area of its permanent RAM then it sends a diagnostics message over ETH.

The log area cannnot hold more than 15 byte, so I will log:
- time since bootstra

[2021-04-07 16:43] marcoaccame commented on #174
tested w/ code such as this:

[code]
**Code Listing:** Data structures exchanged across a restart of the `mc4plus` board.

[code]
**Code Listing:** Code executed by the `mc4plus` board at startup.. If a message in IPC memory is found then a diagnostic message is sent to yarprobotinferface.

[code]
**Code Listing:** Code to be included in the fatal error handlers. It write some info in the IPC memo

[2021-06-15 15:44] giovannipizzolante opened #190 "Document data types 2FOC"
By looking at the documentation of the XC compiler 16 (https://ww1.microchip.com/downloads/en/DeviceDoc/MPLAB_XC16_C_Compiler_Users_Guide_50002071L.pdf), me and @GiulioRomualdi noticed that the `short` data types seems to be 2 bytes long as the `int` data type. As shown in the following table.

![Datatypes](https://user-images.githubusercontent.com/72971613/122082882-a7795280-ce00-11eb-9575-dce6e9

[2021-06-15 15:46] pattacini commented on #190
cc @ale-git

[2021-06-15 15:49] ale-git commented on #190
Yes, it is correct: the **int** type is 16 bit.

[2021-06-15 16:25] giovannipizzolante commented on #190
and the **short** type?

[2021-06-15 16:41] ale-git commented on #190
The same, 16 bit like in your table.

[2021-06-15 17:25] pattacini commented on #175
Done in #186.

[2021-06-15 17:27] #175 closed

[2021-06-15 17:27] #190 closed

[2021-06-15 18:16] GiulioRomualdi commented on #190
cc @isorrentino

[2021-06-21 14:45] marcoaccame commented on #174
We have just successfully tested a new FW for the mc4plus board which is able to send diganostics infor to yarprobotinetrfce in case of fatal errors.

I such a case, it forces a restart and prints info such as in the following.

In case of a fatal error, the board will restart and send messages such as the following.

[code]
**List**. Board 10.0.1.1 has detected a _fatal error_ (first message of t

[2021-06-21 14:48] marcoaccame commented on #174
I shall soon produce a PR.

[2021-07-05 10:11] giovannipizzolante commented on #190
The User's Guide in the first comment is wrong. The correct one is this one:

[User'sGuide.pdf](https://github.com/robotology/icub-firmware/files/6763434/User.sGuide.pdf)

cc @isorrentino

[2021-08-10 17:42] pattacini commented on #174
Cool, thanks @GiulioRomualdi for reporting on this.
@marcoaccame is off till the last week of August.
We will then get back to this those days.

[2021-08-17 21:14] DanielePucci commented on #174
See https://github.com/robotology/icub-tech-support/issues/673#issuecomment-900634451 for the looming outdoor demos that would strongly benefit from a definite solution to this issue

[2021-09-06 13:15] marcoaccame commented on #174
Hi @GiulioRomualdi, the logs are obtained w/ a FW version of the mc4plus which is older than the one described in [here](https://github.com/robotology/icub-firmware/issues/174#issuecomment-865091428), so the logs don't contain any useful (new) information.

so, now we need to:
- ensure that the mc4plus fw is the latest version of devel (https://github.com/robotology/icub-firmware-build/pull/32 or

[2021-09-06 13:44] traversaro commented on #174
Just for general alignment, that version of the firmware was release as part of v2021.08.0 disto, so just using icub-firmware-build v1.21.0 is probably enough.

[2021-09-20 12:38] marcoaccame opened #202 "The bootloader of mtb4 does not update the application"
If we use the latest devel, the resulting binary of the bootloader does not allow update of the application w/ the FirmwareUpdater.

The latest binary on icub-firmware-build (see https://github.com/robotology/icub-firmware-build/pull/13) instead works fine.

It is necessary to investigate and solve the problem.

[2021-10-29 14:48] pattacini opened #212 "Spike detection triggers a fictional spike due to wraparound"
While developing the drivers for the AEA3, @sgiraz noted down the following:

---

During the experiments of today I spotted another potential problem in the spike detection algorithm that already exists within the FW.

When we turn the shaft of the motor by 1 or more turns, the `yarprobotinterface` prints out that _AEA encoder has spikes_.
In particular the warning occurs each time we pass from 3

[2021-11-08 10:27] pattacini commented on #212
Thanks to @ale-git, we found out that the FW version in use was not aligned with the official one.
In particular, the wrong type of a variable was causing the problem.

[2021-11-08 10:27] #212 closed

[2021-12-02 13:02] #202 closed

[2021-12-16 11:46] traversaro commented on #67
cc @isorrentino @DanielePucci

I guess it could be a good idea to fix this in this decade. :D

[2021-12-16 11:53] traversaro commented on #67
By the way, I think we can easily close the issue with the answer:
**no, the coulomb friction compensation is not active**. I will open a separate issue for actually implementing this.

[2021-12-16 11:53] #67 closed

[2021-12-16 12:05] traversaro opened #228 "Implement Coulomb friction compensation if torque control is active"
Follow up of https://github.com/robotology/icub-firmware/issues/67 .

The nice thing is that all the machinery of defining and reading configuration files and modifying structure is already implemented,  via `stictionUp`/`stiction_up`/`stiction_up_val` and `stictionDown`/`stiction_down`/`stiction_down_val` parameters, see for example:
* https://github.com/robotology/robots-configuration/blob/f3fef

[2021-12-16 12:05] traversaro commented on #228
fyi @isorrentino @GiulioRomualdi @S-Dafarra @DanielePucci

[2022-05-24 14:19] gabrielenava opened #270 "Implement a temporary check to verify the frequency at which ems4 and mc4plus stream data"
During recent experiments with iRonCub we tried to increase the frequency of ems4 and mc4plus board, however it was hard to verify if the boards actually stream data at the desired frequency.

Talking to @marcoaccame we realized that there is a quick and dirty solution to check if the frequency is correct, that is, stream also the time stamp at which data are send by the board. To avoid big modifi

[2022-05-24 16:04] marcoaccame commented on #270
The idea is to put something else inside the variable which reports the acceleration of the joint, for instance the system time of the ETH board expressed in ms.  That can be done by changing the following [code](https://github.com/robotology/icub-firmware/blob/devel/emBODY/eBcode/arch-arm/embobj/plus/mc/Joint.c#L927-L936) as such:

[code]
That must be done by changing and recompiling the same cod

[2022-06-17 09:15] marcoaccame commented on #270
Hi @gabrielenava ,
here are the binaries to use in which I just did the changes in https://github.com/robotology/icub-firmware/issues/270#issuecomment-1136116393 to bot the `ems` and `mc4plus`:
- [ems.v3.151-meas_acceleration-has-millisec.zip](https://github.com/robotology/icub-firmware/files/8926214/ems.v3.151-meas_acceleration-has-millisec.zip)
- [mc4plus.v3.149-meas_acceleration-has-millisec.zi

[2022-06-20 09:10] gabrielenava commented on #270
cc @fabioBergonti

[2022-06-22 10:29] FabioBergonti commented on #270
Hi @marcoaccame
I and @antonellopaolino are testing your modification.
What's the unit of measurement of the timestamp? [s] or [das]?

I dumped `meas_acceleration` with simulink and here the result

![test](https://user-images.githubusercontent.com/38210073/175007434-fd2f13bf-a993-4cd3-b2e3-2f69966d96fd.png)

[2022-06-23 09:36] marcoaccame commented on #270
milli seconds

from: https://github.com/robotology/icub-firmware/issues/270#issuecomment-1136116393

[2022-06-23 10:14] marcoaccame commented on #270
**NOTE**: if you read the value from a `YARP` port you should also verify if and how `YARP` transforms the `meas_acceleration` variable before it publishes it to the relevant port. This variable is natively an integer where I put ms values, but `YARP` may transform it.

If it can help, this variable (when not hacked) contains acceleration expressed in `idegrees/s^2`, and and `1 degree = 182.044444

[2022-06-23 13:50] FabioBergonti commented on #270
Here is the result
(v[n+1] - v[n]) is constant expect for some periodic spikes
- using simulink
![controller_clocks_dt](https://user-images.githubusercontent.com/38210073/175308269-f725b95c-a2ac-4257-897c-5edb9dba63cb.png)
- via `yarp read ... /icub/head/stateExt:o >> data.log`
![yarp_timestamp](https://user-images.githubusercontent.com/38210073/175315451-95b03b34-9f6f-4b2e-99f4-43cc63c8fcda.png)

[2022-06-23 14:09] marcoaccame commented on #270
I suspect that the value you plot have some missed values. Where are they lost?

Pls look at the log of yarprobotinterface. If you don't see any message emitted by the following code, then it may be that YARP or the scheduling in icub-head or in the client PC which reads the port may miss values.
[code]
**Code Listing.** From file `hostTransceiver,cpp` here is the handler which detects missing UDP

[2022-06-28 09:27] FabioBergonti commented on #270
We are working at 500Hz
I've repeated another test where I dumped `/icub/head/stateExt:o` and I saved the output of the yarplogger.

Here is the `v[n+1] - v[n]`:
![0](https://user-images.githubusercontent.com/38210073/176136879-d30491eb-d80b-4d84-8e36-242a42237f89.png)

Here is the output of the yarplogger:
[code]

[2022-06-28 14:25] marcoaccame commented on #270
I read the above as follows:
- the log shows no lost packet, so `embObjMotionControl` receives every UDP packet w/ time updated at steps of 2 ms.
- the value in ms is published by the YARP port and read by some external agent
- this agent receives consecutive values w/ a delta which
   - mostly is =~0.011. I assume that this value corresponds to the expected delta of 2 ms.
   - sometimes it is = 0

[2022-07-09 17:45] pattacini commented on #270
Closing.
Feel free to open it up again if need more inquiring.

[2022-07-09 17:45] #270 closed

[2022-10-26 08:57] valegagge opened #315 "Enable the `aksim2` diagnostic"
After some tests performed on the medium joint, @sgiraz and I noticed that the ems fw doesn't enable the aksim2 diagnostic.

Since these are the first tests carried on a complete setup with `aksim2`, I suggest enabling always on the diagnostic on such encoder.

It is possible to enable it from the configuration files or some code changes are required?

Moreover, I'd like to ask if it is possible (